[2017-12-31 05:06] r9y9 opened #1 "Planned TODOs"
This is an umbrella issue to track progress for my planned TODOs. Comments and requests are welcome.

### Goal

- [x] achieve higher speech quality than conventional vocoder (WORLD, griffin-lim, etc)
- [x] provide pre-trained model of WaveNet-based mel-spectrogram vocoder

### Model

- [x] 1D dilated convolution
- [x] batch forward
- [x] incremental inference
- [x] local conditioning
- [x] global

[2017-12-31 05:33] r9y9 commented on #1
At the moment, I think I finished to implement basic features (batch/incremental inference, local/global conditioning) and confirmed that unconditioned WaveNet trained on CMU Arctic (~1200 utterances, 16kHz) can generate sounds like speech. Audio samples are attached.

[step80000.zip](https://github.com/r9y9/wavenet_vocoder/files/1595005/step80000.zip)

top: real speech, bottom: generated speech.

[2017-12-31 23:24] geneing commented on #1
For reference, these are other wavenet projects I know of:
[https://github.com/ibab/tensorflow-wavenet](https://github.com/ibab/tensorflow-wavenet)
[https://github.com/tomlepaine/fast-wavenet](https://github.com/tomlepaine/fast-wavenet) - faster version of the original wavenet paper.

[2018-01-01 02:37] r9y9 commented on #1
Other projects I Know of:

- https://github.com/vincentherrmann/pytorch-wavenet
- https://github.com/musyoku/wavenet
- https://github.com/dhpollack/fast-wavenet.pytorch
- https://github.com/tensorflow/magenta/tree/master/magenta/models/nsynth/wavenet

[2018-01-01 06:19] r9y9 commented on #1
Still not quite high quality, but vocoder conditioned on mel-spectrogram started to work. Audio samples from a model trained 10 hours are attached.

[step90000.zip](https://github.com/r9y9/wavenet_vocoder/files/1595640/step90000.zip)
![step000090000_waveplots](https://user-images.githubusercontent.com/1220272/34465935-c52bd672-ef06-11e7-9b3c-11ee6b069486.png)

[step95000.zip](https://github.com/r9

[2018-01-02 14:55] r9y9 commented on #1
Finished transposed convolution support at https://github.com/r9y9/wavenet_vocoder/commit/8c0b5a9b65150227a5989865257eb2651fd5751f. Started training again.

[2018-01-03 04:11] jamestang0219 commented on #1
Hi, I've already tried to use linguistic features as local features, but I found there might be a problem that linguistic features are based on phoneme class, mel-specs are based on frame class, but the local features of wavenet inputs are based on sample point class.

Here is a case, if a phoneme's duration is 0.25s, and its sample rate is 16k, in order to create the wavenet inputs, I have to dup

[2018-01-03 04:14] jamestang0219 commented on #1
Wavenet can capture the differences even if many samples' local features are same as long as its receptive field is wide?

[2018-01-03 06:05] r9y9 commented on #1
@jamestang0219 I think you are right. In the paper http://www.isca-speech.org/archive/Interspeech_2017/pdfs/0314.PDF, they use log-f0 and mel-cepstrum as conditional features and duplicate them to adjust time resolution. I also tried this idea and got reasonable result.

[2018-01-03 06:17] r9y9 commented on #1
Latest audio sample attached. Mel-spectrogram are repeated to adjust time resolution. See https://github.com/r9y9/wavenet_vocoder/blob/b8ee2ce0ed246344581adf36dd7cb1a9dd1be6a2/audio.py#L39-L40. In this case upsample_factor was always 256.

[step70000.zip](https://github.com/r9y9/wavenet_vocoder/files/1599509/step70000.zip)
![step000070000_waveplots](https://user-images.githubusercontent.com/122027

[2018-01-03 06:32] jamestang0219 commented on #1
@r9y9 In your source code, you use transposed convolution to implement the upsample process? Have you ever checked which method is better for upsampling?

[2018-01-03 06:41] r9y9 commented on #1
@jamestang0219 I implemented transposed convolution but haven't got success yet. I wonder 256x upsampling is hard to train, especially for small dataset which I'm experimenting with now. WaveNet authors reported transposed convolution is better, though.

[2018-01-03 06:44] r9y9 commented on #1
https://github.com/r9y9/wavenet_vocoder/blob/3c9deb1dfd582b87488359c366731b7bce7120d4/hparams.py#L43-L47

For now I am not using transposed convolution.

[2018-01-03 06:56] jamestang0219 commented on #1
@r9y9 May I know your hyper parameters for extracting mel spectrogram?  Frame shift is 0.0125s and frame width is 0.05s? If this is your parameters, but why you use 256 as the upsample factor instead of sr(16000) * frame_shift(0.0125) = 200? Any tricks here? Forgive me for many questions:( because I also wanna reproduce tacotron2 result

[2018-01-03 07:01] jamestang0219 commented on #1
@r9y9 Thanks:)

[2018-01-03 11:15] npuichigo commented on #1
@r9y9 I notice that in Tacotron2, two upsampling layers with transposed convolution are used. But in my WaveNet implementation, it still can't work.

[2018-01-03 11:35] r9y9 commented on #1
@npuichigo Could you share what parameters (padding, kernel_size, etc) you are using? I tried 1d transposed covolution with stride=16, kernel_size=16, padding=0 two times to upsample inputs to 256x.

https://github.com/r9y9/wavenet_vocoder/blob/8c0b5a9b65150227a5989865257eb2651fd5751f/wavenet_vocoder/wavenet.py#L105-L112

[2018-01-03 12:02] npuichigo commented on #1
@r9y9 Parameters of mine are listed below. Because I use frame shift which is 12.5ms, upsampling factor is 200.
[code]

[2018-01-04 16:46] r9y9 commented on #1
https://r9y9.github.io/wavenet_vocoder/

Created a simple project page and uploaded audio samples for speaker-dependent WaveNet vocoder. I'm working on global conditioning (speaker embedding) now.

[2018-01-05 01:26] weixsong opened #3 "Wave Noise"
Hi,

In your demo waves, I notice some glitch noise, this noise may be generated by the WaveNet random sampling feature.

Do u have further updated model that without such kind of noise?

[2018-01-05 04:28] r9y9 commented on #3
I do plan to update and improve my implementation. I'm guessing the glitch noise is due to limited training data (only 1 hour) and insufficient training time (~22 hours).

[2018-01-05 05:29] npuichigo commented on #1
@r9y9 Regarding upsampling network, I found that 2D transposed convolution works well, while 1D version will generate speech with unnatural prosody, maybe because 2D transpose convolution only consider local information in frequency domain.
[code]

[2018-01-05 11:02] r9y9 commented on #1
@npuichigo Thank you for sharing that! Did you check the output of the upsampling network? Could upsampling network actually learn upsampling? I mean, did you get high-resolution mel-spectrogram? I was wondering if I need to add loss term regarding upsampling (e.g., MSE between coarse mel-spectrogram and 1-shift high resolution mel-spectrogram) and I'm curious whether it could be learned without u

[2018-01-06 13:04] npuichigo commented on #1
@r9y9 I think transposed convolution with same stride and kernel size is similar to duplicating. Like the following picture, if the kernel is one everywhere, then it's just duplicating. So maybe I need to check the values of kernel after training.
![padding_no_strides_transposed_test_28](https://user-images.githubusercontent.com/11533479/34639956-9ea1ec2c-f324-11e7-9eec-56ff624d39ab.png)

[2018-01-06 17:58] r9y9 commented on #1
https://r9y9.github.io/wavenet_vocoder/

Added audio samples for multi-speaker version of WaveNet vocoder.

[2018-01-08 06:43] rishabh135 commented on #1
Hello @r9y9 , great work and awesome samples,  would you mind sharing the weights of the network for the wavenet_vocoder trained on mel_spectrograms with CMU artic dataset without speaker embedding ? I would like to use and compare them with griffin-lim reconstruction to see which works better.

[2018-01-08 09:43] r9y9 commented on #1
@rishabh135 Not at all. Here it is: https://www.dropbox.com/sh/b1p32sxywo6xdnb/AAB2TU2DGhPDJgUzNc38Cz75a?dl=0

Note that you have to use exactly same mel-spectrogram extraction https://github.com/r9y9/wavenet_vocoder/blob/f05e520e644a152f9f35a0e6b4508b3aa16b8a21/audio.py#L66-L69 and same hyper parameters https://github.com/r9y9/wavenet_vocoder/blob/f05e520e644a152f9f35a0e6b4508b3aa16b8a21/hparams.

[2018-01-08 17:59] r9y9 commented on #1
Using the transposed convolution below, I can get  good initialization for the upsampling network. Very nice, thanks @npuichigo !

[code]

Mel-spectrogram (hop_size = 256)

![download](https://user-images.githubusercontent.com/1220272/34684507-a2ba0e1e-f4e8-11e7-8d50-c7c6690f0a38.png)

16x upsampled mel-spectrogram

![download 1](https://user-images.githubusercontent.com/1220272/34684509-a2e1d822-

[2018-01-10 08:03] neverjoe opened #4 "when synthesis a wav file use synthesis.py, crash！"
Traceback (most recent call last):
  File "synthesis.py", line 151, in <module>
    waveform = wavegen(model, length, c=c, g=speaker_id, initial_value=initial_value, fast=True)
  File "synthesis.py", line 103, in wavegen
    initial_input, c=c, g=g, T=length, tqdm=tqdm, softmax=True, quantize=True)
  File "wavenet.py", line 234, in incremental_forward
    assert c.size(-1) == T
AssertionError

[2018-01-10 08:04] r9y9 commented on #4
This is not crash :( Can you elaborate on what you are trying?

[2018-01-10 08:16] neverjoe commented on #4
i maybe  use it in wrong way,
python3 synthesis.py    --length=16000  --initial-value=128  --conditional=data/mel-06910.npy  checkpoints/checkpoint_step000010000.pth  checkpoints/audio/
some hparams is:
    upsample_conditional_features=True,
    # should np.prod(upsample_scales) == hop_size
    upsample_scales=[16, 16],
    # Freq axis kernel size for upsampling network
    freq_axis_kernel_size=

[2018-01-10 08:23] r9y9 commented on #4
Sorry for the inconvenience. This is still much WIP, but I will try to add a brief README soon. I'm afraid I'm not using `upsample_conditional_features` for now and don't have a quick fix for you. I will look into it today.

[2018-01-10 08:28] neverjoe commented on #4
thx for your great work,  you have done a lot.

[2018-01-10 09:10] r9y9 commented on #4
@neverjoe I think I fixed the issue. Could you check if it works?

[2018-01-10 11:02] r9y9 commented on #4
Added getting started guide to the README

[2018-01-10 11:03] r9y9 commented on #1
I have added a brief README.

[2018-01-10 12:28] neverjoe commented on #4
it works!

[2018-01-10 12:34] r9y9 commented on #4
:+1:

[2018-01-10 12:34] #4 closed

[2018-01-12 03:31] jamestang0219 commented on #1
I tried using mel-specs as the input condition feature(by duplicating the mel-specs of each frame) to train the wavenet model on LJSpeech Dataset, but cannot get the reasonable result after 90k steps though the loss value keeps descending.

I found that in your training procedure there is no padding before the first time step, but in generating procedure, there ARE some padding before the initial

[2018-01-12 07:42] r9y9 commented on #1
I believe the padding for the first time step is handled by nn.Conv1d for both batch and incremental forward computation. It works at least for CMU ARCTIC. https://github.com/r9y9/wavenet_vocoder/blob/39961f5d62ae0d0d338d64719ddf6af0760f3053/wavenet_vocoder/modules.py#L50-L55

One possible reason why you cannot get good result I can think of is that speech samples in LJSpeech have reverberations.

[2018-01-12 08:17] jamestang0219 commented on #1
@r9y9 I don't know whether pre-emphasis and fft_size may influence the results. I use pre-emphasis=0.97, fft_size=2048.

And I didn't downsample the LJS waveform, it's 22050 samples per second.

I'll continue to try it on LJS dataset by changing model hyperparameters and architectures, and put the good results here.

the average loss is computed by below code:
[code]

And the trends:
[code]

[2018-01-12 08:31] jamestang0219 commented on #1
Sorry, pre-emphasis was already delete from my code, below results don't use pre-emphasis.

[2018-01-12 08:32] r9y9 commented on #1
Thank you for the information! I will share when I can get good results. I'm trying the following hyper parameters

[code]

[2018-01-12 08:52] jamestang0219 commented on #1
In training procedure, if length of waveform is more than max_time_steps, it will be cut randomly by following code:
[code]
So, the x value of first time step is not always mulaw_quantize(0).
But in generating procedure, the initial value is always mu_lay(0):
[code]

I think that's why training loss is low, but cannot get good generating result.

[2018-01-12 09:12] r9y9 commented on #1
I was hoping the edge case doesn't matter.  Assuming the size of respective field is 1021, we have actually zero-padded input whose length is max_time_steps + 1020: ```0, 0, ..., 0, x[0], x[1], ..., x[max_time_steps-1]```.

From my limited experience though, initial value is not very important when we condition the model by external features.

[2018-01-12 09:21] jamestang0219 commented on #1
Thanks, I'll start another experiment using your code:)

[2018-01-12 16:46] r9y9 commented on #1
[step37566.zip](https://github.com/r9y9/wavenet_vocoder/files/1626762/step37566.zip)

At step 37566 I get:

![step000037566_waveplots](https://user-images.githubusercontent.com/1220272/34885397-313826a4-f803-11e7-9169-b55bbb7b0a82.png)

It seems working reasonably.

[2018-01-13 01:28] jamestang0219 commented on #1
@r9y9 Congratulation! but my previous experiment cannot get good results yet. Did you use duplication or transposedConv to implement up-sampling mel specs?

I review my codes, my preprocess module is different from yours, does it cause the bad result? I didn't use lws.
here is my code:
[code]

[2018-01-13 03:11] r9y9 commented on #1
@jamestang0219 I'm using transposed convolutions for upsampling.

Regarding to your code, did you implement `pad_lr` for librosa? My implementation is carefully designed for lws so you may need to adjust it for librosa.  https://github.com/r9y9/wavenet_vocoder/blob/39961f5d62ae0d0d338d64719ddf6af0760f3053/audio.py#L95-L102

[eval_step80000.zip](https://github.com/r9y9/wavenet_vocoder/files/1628008

[2018-01-13 03:15] jamestang0219 commented on #1
@r9y9 I already deleted padding for librosa, by the way, any difference between librosa and lws for extracting mel specs? I found no frame_width in lws processor

[2018-01-13 03:28] r9y9 commented on #1
https://librosa.github.io/librosa/generated/librosa.core.stft.html has `center` parameter. If `center`=True, I believe input signal is zero-padded. If you don't consider the padding carefully, you may have misaligned audio and mel-spectrogram.

As far as I know, due to lws is designed for phase reconstruction, lws uses careful window normalization for STFT, while librosa doesn't. However, I don't

[2018-01-14 03:51] jamestang0219 commented on #1
@r9y9 Hello, Using transposedConv for upsampling local conditions can get reasonable results, but duplication cannot, at least for using librosa.

Some experiment results, all based on LJSpeech:
(1)transposedConv2d, 2 stacks, 16 layers, Receptive field (samples / ms): 1021 / 46.3038548753, after 40k steps
Step: 45771, Loss: 2.19952297211
Step: 45772, Loss: 1.83744764328
Step: 45773, Loss: 2.572743

[2018-01-14 05:42] r9y9 commented on #1
@jamestang0219 Nice! It seems transposed convolution is better than duplication as reported in the WaveNet paper.

[2018-01-15 11:26] azraelkuan opened #6 "preprocess error"
when i run the preprocess.py, the lws will raise a error:
`TypeError: '>' not supported between instances of 'NoneType' and 'int'`,
should I use `return lws.lws(hparams.fft_size, get_hop_size(), mode="speech", fftsize=hparams.fft_size)`
[the error line](https://github.com/r9y9/wavenet_vocoder/blob/39961f5d62ae0d0d338d64719ddf6af0760f3053/audio.py#L81)

[2018-01-15 11:32] r9y9 commented on #6
What version of lws are you using? Might be same as https://github.com/r9y9/deepvoice3_pytorch/issues/8

[code]

[2018-01-15 11:42] azraelkuan commented on #6
Oh, yes. My lws is version 1.1. Thanks!

[2018-01-15 11:56] r9y9 commented on #6
I'd recommend you to run `pip install -e ".[train]"` which installs proper versions of dependencies.

https://github.com/r9y9/wavenet_vocoder/blob/39961f5d62ae0d0d338d64719ddf6af0760f3053/setup.py#L54-L74

[2018-01-16 04:10] r9y9 commented on #1
The new Parallel WaveNet paper reported they trained 1,000k steps with batch size 32 for teacher WaveNet. We may need to be more patient.  In their paper, there's no mention to dropout, weight normalization, which we are using currently. There are many design choices I want to try and see how it works.

As for the mixture of logistic distributions, I'm currently working on it. See #5.

[2018-01-16 05:44] #6 closed

[2018-01-16 06:27] jamestang0219 commented on #1
@r9y9 Great! Can't help planning to test mixture of logistic distribution loss!

[2018-01-17 02:46] DabiaoMa opened #7 "Parallel WaveNet"
Hi,

I am currently working on parallel WaveNet and noticed that it is one of your planned TODOS.

Till now I can only generate wavs that are distinguishable but with a lot of noise. From my experience, the power loss is really crucial, and we need to do sufficient sampling per step to approximately compute the cross entropy term(If not sufficient, the high variance of gradients probably makes the

[2018-01-17 04:07] azraelkuan opened #8 "arctic multi speaker generate"
hi, i am doing with wavenet vocoder using tensorflow, and i generate good voice using arctic, ljspeech and chinese dataset if not with speaker id. i want to ask:

if i want to generate the wav of the speaker id 0 in arctic dataset, should i use the local condition of speaker id 0, or i can use local condition of any other speaker id ?

- speaker id 0 + local condition 0 ==> wav of speaker id 0 (go

[2018-01-17 05:07] azraelkuan commented on #8
i notice the comment in your gitpage, thanks.

[2018-01-17 05:07] #8 closed

[2018-01-17 08:48] r9y9 commented on #7
Sorry, I haven't really look into Parallel WaveNet in details yet. That's on my TODO list but lower priority, since I want to see quality improvement by WaveNet first. Just curious, did you get human-like speech quality by teacher WaveNet?

[2018-01-17 09:37] DabiaoMa commented on #7
Well I can tell what the generated wav is speaking, but the overall audio is of very bad quality.
The distilling from teacher WaveNet really works though some details are still to be corrected.

[2018-01-18 14:40] r9y9 commented on #1
[mixture_test_step180000.zip](https://github.com/r9y9/wavenet_vocoder/files/1643176/mixture_test_step180000.zip)

WIP: samples from #5

[2018-01-19 03:39] mfkfge commented on #1
@r9y9 great !

[2018-01-19 03:42] mfkfge commented on #1
@jamestang0219 I have tried the linguistic feature with wavenet vocoder the same as Deep voice 1. We got acceptable result with 20 layers and 64-bit. I think the model convergence at about 300k iterations. My learning rate is 1e-3 and decay every 1000 iterations with factor 0.998.

[2018-01-19 03:44] jamestang0219 commented on #1
@mfkfge Could you please tell me how you extract the linguistic feature, thank you!

[2018-01-19 03:50] jamestang0219 commented on #7
@DabiaoMa You have already get teacher model of WaveNet? Could you upload some samples which generate from teacher model, thank you!

[2018-01-19 04:06] r9y9 commented on #1
@jamestang0219 Hi, can I ask which model is the best in your experiments https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-357841092? I'm currently trying 24 layers / 4 stacks at #5 and want to know which is the best in your case.

[2018-01-19 06:49] jamestang0219 commented on #1
@r9y9 after training 180k steps, they are both just audible but noisy, no one is better than any others. I think they are not converged yet, and I'll let them train more steps. If you want, I can upload the samples from them. It may cost much time for inference.

[2018-01-19 07:07] r9y9 commented on #1
@jamestang0219 Thanks! I will continue my experiment with 24 layers / 4 stacks.

[2018-01-19 07:10] jamestang0219 commented on #1
@r9y9 I've started training tacotron model for only predicting mel specs, and merged it and wavenet with 24 layers / 4 stacks, the results are like whispers.

[2018-01-19 07:14] r9y9 commented on #1
There must be hidden tricks which are not mentioned in the paper to make it actually work. :)

[2018-01-19 07:17] jamestang0219 commented on #1
@r9y9 Yes! In tacotron paper, they didn't mention close prenet dropout in inference, It cost me much time to debug!

[2018-01-20 09:33] mfkfge commented on #1
@jamestang0219 The feature format is just like what Deepvoice mentioned. the feature is a vector of 5 phonemes, 5 stresses, vuv and norm_logF0. we upsample the feature with qrnn.

[2018-01-20 16:13] jamestang0219 commented on #1
I'm trying to use Tacotron model to predict mel spec, and use wavenet model to generate samples, it works reasonably.

Here is the merged model's result:
input sentence: "Peter Piper picked a peck of pickled peppers. How many pickled peppers did Peter Piper pick?" (just from tacotron2 demo :P)
Attention energy and predicted mel spec:
![image](https://user-images.githubusercontent.com/13873223/3518

[2018-01-20 16:25] r9y9 commented on #1
Nice!!

[2018-01-21 16:44] mfkfge commented on #1
@jamestang0219 That really sound great! Are the result generated from wavenet with mixture of logistic distributions loss? Could you please show me the way you upsampling the mel-spectrogram features?  Would that be 2 transpose convolutions layers followed by a convolution layer? What about the HOP-size of mel-spectron and the sample rate of the audio?

thank you

[2018-01-22 01:23] AzamRabiee opened #9 "training"
Thanks for sharing your comprehensive code!
I've just started reading and running your code. In hparams, nepochs is set to 2000; but it seems to stop at the first epoch, as it shows in tensorboard:
![image](https://user-images.githubusercontent.com/29938304/35201284-652c7f4e-ff5d-11e7-8977-f1b49ac9a5d2.png)
it seems that the training loop is only depend on nepochs. Is there any other parameter to

[2018-01-22 05:54] r9y9 commented on #9
That's weird. Could you share the log output?

[2018-01-22 06:06] jamestang0219 commented on #1
@mfkfge No, it's from the model with cross entropy loss of 256 classifications. I'll start another experiment for mixture of logistic distribution. I used 2 transposed convolution layers for upsampling, each scale is 16, it means the hop_size should be 256.

My experiment is on LJSpeech, hyperparameters both for tacotron and wavenet:
[code]

[2018-01-22 07:01] AzamRabiee commented on #9
[log.zip](https://github.com/r9y9/wavenet_vocoder/files/1650996/log.zip)

[2018-01-22 07:04] r9y9 commented on #9
Sorry, I meant stdout of train.py, not tf logs.

[2018-01-22 07:05] r9y9 commented on #9
If nepoch equals 2000, then it should not stop at epoch 0.

[2018-01-22 07:08] AzamRabiee commented on #9
Part of stdout:

Command line args:
{'--checkpoint': None,
'--checkpoint-dir': 'checkpoints',
'--data-root': './data/cmu_arctic/',
'--help': False,
'--hparams': '',
'--log-event-path': None,
'--reset-optimizer': False,
'--restore-parts': None,
'--speaker-id': None}
Hyperparameters:
 adam_beta1: 0.9
 adam_beta2: 0.999
 adam_eps: 1e-08
 batch_size: 1
 builder: wavenet
 checkpoint_interval: 10000
 ci

[2018-01-22 07:11] AzamRabiee commented on #9
Sorry, Ive found the error:
 File "train.py", line 456, in eval_model
   save_waveplot(path, y_hat, y_target)
 File "train.py", line 405, in save_waveplot
   plt.figure(figsize=(16, 6))
...
_tkinter.TclError: no display name and no $DISPLAY environment variable

[2018-01-22 07:12] r9y9 commented on #9
It seems there's no error messages. What problem are you seeing? I am not sure I understand you.

[2018-01-22 07:13] r9y9 commented on #9
Ah, ok,

[code]

I think this fixes your issue.

[2018-01-22 08:22] AzamRabiee commented on #9
but your suggestion does not work. same error is raised!

[2018-01-22 08:47] r9y9 commented on #9
https://stackoverflow.com/questions/37604289/tkinter-tclerror-no-display-name-and-no-display-environment-variable

Did you put the snippet into the top of the train.py?

[2018-01-23 05:04] AzamRabiee commented on #9
Yeap! It's solved by adding the snippet and 'export DISPLAY=mymachine.com:0.0'
Thanks!

[2018-01-23 05:08] AzamRabiee commented on #9
Is really 2000 nepochs required? I got almost good results with only 30 epochs!

[2018-01-23 05:17] r9y9 commented on #9
No. I just set a big number. You can stop training anytime by hitting ctrl+c.

[2018-01-23 09:46] r9y9 commented on #1
For anyone interested in mixture of logistic distributions, try the following hyper parameters:

[code]

Honestly, I am not completely sure if I implemented it correctly, so I regard the feature as experimental at the moment. Let me know if you find a bug. PRs are always welcome!

[2018-01-23 11:36] mfkfge commented on #1
`    inner_inner_out = inner_inner_cond * \
        torch.log(torch.clamp(cdf_delta, min=1e-12)) + \
        (1. - inner_inner_cond) * (log_pdf_mid - np.log(127.5))
`

Do you think the value 127.5 would be related to the num_classes? That is to say it can be 32767.5 when num_classes is 65536?

[2018-01-23 14:13] r9y9 commented on #1
Well, thinking about it again, and I think `(1. - inner_inner_cond) * (log_pdf_mid)` would be correct. Could anybody elaborate where `- np.log(127.5)` come from?

[2018-01-24 03:37] npuichigo commented on #7
@DabiaoMa Can you share your parameters of your teacher model, for example, the minimum value of the log scale of mixture of logistic distributions? Because I find that this parameter is highly related to audio quality. As to the student network, I also find that the high variance of gradients make the log scale of student network overflow easily, and it's hard to get distinguishable waves.

[2018-01-24 03:42] npuichigo commented on #1
@r9y9 `log(p) - log((num_classes - 1) / 2) = log(p * (2 / (num_classes  -  1)))` and it's just the rectangle area under the pdf near the center of the bin.

[2018-01-24 03:45] DabiaoMa commented on #7
@npuichigo I got a loss as low as about 1.6 when training Teacher model(a mixture of 10 logistic dist.) and the synthesized wavs are quite good(with real acoustic features, not with generated ones from a parametric model). To train the student network, I sampled 5 times for one local acoustic condition to make the gradient stable but failed...

[2018-01-24 03:51] r9y9 commented on #1
@npuichigo Thanks! I was thinking it would be `log(p* δ(x))` for the extreme case, but that makes sense for discretized distributions.

[2018-01-24 03:55] npuichigo commented on #7
@DabiaoMa What about your minimum value of the log scale? I think -7 is not enough to generate good samples, maybe with little noise.

[2018-01-25 09:33] ricardokleinklein opened #10 "KeyError when trying synthesis.py on cmu_arctic"
Hi,

After successfully running `python preprocess.py cmu_arctic ./../../data/cmu_arctic ./../tmp_cmu_arctic`
and
`python train.py --data-root=./../tmp_cmu_arctic  --hparams="cin_channels=80,gin_channels=16,n_speakers=7"`

when I try to use synthesis.py, I find the following KeyError when trying to load the model at line 149:

has anyone else found this problem before? Or do you know how I can get

[2018-01-25 09:43] r9y9 commented on #10
Did you use the same hyper parameters for training and synshesis?

[2018-01-25 10:06] ricardokleinklein commented on #10
No, I didn't. Sorry, a misunderstanding on my side.
Thank you very much!

[2018-01-25 10:13] #10 closed

[2018-01-26 07:37] DabiaoMa commented on #7
@npuichigo  I am using similar implementation with the one used in https://github.com/openai/pixel-cnn/blob/master/pixel_cnn_pp/nn.py.
So yes I am using -7 as the minimum value of the log scale
But I do not use the extreme case when the class label is 0 or 255.

[2018-01-26 10:18] npuichigo commented on #7
@DabiaoMa Thanks! By the way,  when training student network, have you encountered such a problem that the entropy of student network (lns + 2) often increases suddenly? I think sampling multiple times may  relieve this problem, but not quite ideal.

[2018-01-26 11:06] r9y9 commented on #1
https://r9y9.github.io/wavenet_vocoder/

Uploaded samples of a model trained with mixture of logistic distributions loss.

[2018-01-27 05:39] r9y9 commented on #1
Further trained a bit more and uploaded samples again. I think I got pretty good samples.

[2018-01-27 08:42] DarkDefender commented on #1
I also think those are pretty good! I guessing that it would be easier to train on a dataset that doesn't have reverb and the background (electronic?) buzz.

But regardless of that I think you should be really proud of what you have achived because this is the best I've ever heard the LJSpeech dataset sound!

[2018-01-28 03:59] azraelkuan commented on #1
hello, thanks to your work, i use the ibab's tensorflow code and your pre process code to try wavenet vocoder, the generated ljspeech wav is pretty good, but the arctic has electronic buzz in the background(little).
now, I am comparing your step with my to fix the noise problem...

[ljspeech_generate.zip](https://github.com/r9y9/wavenet_vocoder/files/1670756/ljspeech_generate.zip)
[chinese.zip](ht

[2018-01-28 07:50] r9y9 commented on #1
Very nice! The Chinese samples sounds pretty good to me.

I also noticed some noise (#3) while I was working on CMU ARCTIC. I haven't investigated deeply yet, but I am wondering 1~2 hours data is not sufficient to train WaveNet.

[2018-01-28 10:41] r9y9 commented on #9
I'm closing this

[2018-01-28 10:41] #9 closed

[2018-01-28 20:07] rafaelvalle commented on #1
@jamestang0219 when you decoded Tacotron produced mel-spectrograms, what loss did the Tacotron model have?

[2018-01-29 02:21] DabiaoMa commented on #7
@npuichigo I have got a much better distilled student model last week that can produce wavs with less noise (within 1 epoch), The key point to avoid the student entropy to increase too much is the power loss term. The student entropy stays at the value about (3 + 2) in my case.

[2018-01-29 02:36] JK1532 commented on #1
hello @azraelkuan
I do the same thing with you.I wonder how did you add the local condition to the ibab' tensorflow. Does the shape of the local condition is equal to the input batch?

[2018-01-29 02:52] jamestang0219 commented on #1
@r9y9 I used the same preprocess and model as yours, I found that my averaged loss per epoch kept decreasing to 0.00x, and yours was stable at 2.x, but the evaluation samples from mine is not as good as yours, that's very strange...

[2018-01-29 03:23] r9y9 commented on #1
Did you use my latest code? I implemented mixture of logistic distributions loss as well as exponential model averaging in #5. According to the Parallel WaveNet paper, exponential model averaging is important for quality.

One difference would be training time. I did finetune the model many times. i.e., train 200k steps  -> (change some hyper param and let's see how it works) -> train 200k step (l

[2018-01-29 03:24] npuichigo commented on #7
@DabiaoMa Thanks! I also found the power loss critical. But in my training process, I usually get large power loss (from thousands to tens of thousands), can you share the frame length/frame shift used in your stft calculation.

[2018-01-29 03:28] jamestang0219 commented on #1
mixture of logistic distribution version just started, I'm comparing 256 mu-law version. Maybe something wrong with my shuffle procedure, let me double check.

[2018-01-29 03:33] npuichigo commented on #1
@r9y9 Would it be okay to use such a low variance lower bound (1e-14)? In my experiment, too small variance may lead the training process collapse. I mean the loss may increase to NaN due to overflow.

[2018-01-29 03:41] r9y9 commented on #1
@npuichigo I worried about that but I have never got NaN until now. So I would say it's okay.

[2018-01-29 03:53] azraelkuan commented on #1
@JK1532 you can just repeat the local condition by the frameshift, or can also use several transposed convolution layers

[2018-01-29 15:53] imdatsolak opened #11 "Quick Feedback"
Hi, @r9y9, I have been training few models the last couple of days with wavenet_vocoder and I must say the results are impressive.

Here are some learning charts:
![screen shot 2018-01-29 at 16 46 41](https://user-images.githubusercontent.com/10852644/35519334-39b8c220-0514-11e8-8a3c-5699228f4813.png)
![screen shot 2018-01-29 at 16 46 48](https://user-images.githubusercontent.com/10852644/35519337

[2018-01-30 05:59] r9y9 commented on #11
Hi, thank you for your feedback. I am happy to hear that my project helps you.  As for the multi-GPU training, I'm afraid that I have no experience on it until now. I will get one more GTX 1080 Ti next month and try distributed training if I get a chance. I look forward to seeing progress on your Tactoron2 project!

[2018-01-30 08:04] toannhu opened #12 "Ask about Phoneme Segmentation and Phoneme Duration"
Hi, @r9y9. First of all, thank you for such a brilliant implementation of Wavenet. Now I study about how to detect a phoneme duration (start time and end time of phoneme) extracted from audio and align this thing with linguistic feature but i don't know how to do this. Can you show me the idea that you use to solve the problem and where is the code in this repo to do this job? Thanks!

![1](https:

[2018-01-30 15:38] imdatsolak commented on #11
Hi @r9y9, when I set "cin_" to "-1" in order to train without conditioning, I get multiple errors (in train.py:411 and later on also in wavenet.py:168) because they expect "c" to contain the conditioning features. I would like to test music generation without conditioning, any ideas to fix these?

Thanks

[2018-01-30 15:49] r9y9 commented on #11
Sorry about that. Will look into it.

[2018-01-30 16:01] r9y9 commented on #11
Should be fixed at https://github.com/r9y9/wavenet_vocoder/commit/c68767f117f64d96606a92ae4d69e909e204f836

[2018-01-30 16:02] imdatsolak commented on #11
Thank you very much, very, very appreciated 👍

[2018-01-30 18:12] r9y9 commented on #12
The repository focuses on the WaveNet vocoder as the name says. It doesn't provide any of phoneme duration estimation and linguistic features extraction, which are needed to replicate original WaveNet-based TTS. The vocoder can take arbitrary type of input assuming time resolution is adjusted, though.

Linguistic feature extraction (a.k.a text processing frontend) is the hard part of TTS, which of

[2018-02-01 10:02] gsoul commented on #11
@r9y9 thank you for your excellent code. As for multi-gpu training, it seems like TF simplified it a bit in their latest release: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/estimator/python/estimator/replicate_model_fn.py

[2018-02-01 10:22] imdatsolak commented on #11
@gsoul, since wavenet_vocoder is in PyTorch (@r9y9 is only using tf for tensorboard-support), and as there is actually kind of easy support in PyTorch for DataParallel, we need to get the hooks right in wavenet_vocoder. I'm currently evaluating where best to put to hook into and (if I have a solution), I'll send a PR to @r9y9 ...

[2018-02-01 11:53] gsoul commented on #11
Oh mine, that was stupid of me, my apologies.

[2018-02-01 14:16] imdatsolak commented on #11
@r9y9, @gsoul, looking through the code (wavenet_vocoder as well as PyTorch source code), the only change needed _seems_ to be (in train.py):

    model = build_model()
    print(model)
    model = torch.nn.DataParallel(model)

Would you agree?

[2018-02-02 03:26] hicolin commented on #7
@DabiaoMa Hi, could you describe how you implement the cross entropy term in kl divergence? in my implementation of the student wavenet, the kld loss seems not to contribute to the model training, which is pretty weird. Thanks a lot!

[2018-02-02 06:41] npuichigo commented on #7
@hicolin I think it is important to sampling sufficient samples from the student distribution to evaluate the cross entropy term validly.

[2018-02-02 08:11] hicolin commented on #7
@npuichigo  well, how many samples do you sample from the student distribution in one step or mini-batch?  To many samples are a little time-consuming for training after all.

[2018-02-03 05:02] r9y9 commented on #11
Looking through the pytorch example, we may need to adjust sampler as well.
 https://github.com/pytorch/examples/blob/963f7d1777cd20af3be30df40633356ba82a6b0c/imagenet/main.py#L128-L131

[2018-02-03 05:10] r9y9 opened #13 "Music generation"
Things I want to try if I get a chance, Comments and requests are welcome.

- [ ] Music generation (unconditional)
- [ ] MIDI-conditioned piano sound generation

[2018-02-05 05:58] jiqizaisikao opened #14 "Hi,is there any proof for how discretized_mix_logistic_loss works?"
Hi:
I read the paper that P(x|π,µ,s) as   discretized mix logistic distributions,and i read the code of pixelcnn++ and yours but i still  not very clear why it written like this,In fact i donot know In pixelcnn++ what is the coeffs var represent and why it is removed in your code?
is there any mathematical proof for this?

[2018-02-05 10:31] azraelkuan commented on #14
I have test the discretized mix logistic distributions in this repository, it works well. for the coeffs, it is the reason that the image has two channels, but the audio only have one , so r9y9 remove it. u can see https://github.com/pclucas14/pixel-cnn-pp/blob/60aa78e0ef1abd54cb87963678fc3d5f0517b5eb/utils.py#L102

[2018-02-05 15:25] imdatsolak commented on #13
@r9y9, I've started training a model on Beethoven piano concertos.
Learnings: use only data that has the same tempo (e.g. "Adagio only").
Don't use too much data (I have about 20 minutes)
Use only single-instrument music.

Hope that helps. Initial results are not very promising so far. I only used "Click Remover" and "Amplify" on top of what wavenet_vocoder generated.

 I would love to use 65536 q

[2018-02-05 15:27] imdatsolak commented on #11
Thanks, @r9y9, will look into it...

[2018-02-06 01:56] dongmh opened #15 "error in synthesis"
Traceback (most recent call last):
  File "synthesis.py", line 181, in <module>
    waveform = wavegen(model, length, c=c, g=speaker_id, initial_value=initial_value, fast=True)
  File "synthesis.py", line 84, in wavegen
    assert c.ndim == 2
AssertionError

[2018-02-06 02:35] r9y9 commented on #15
Please provide us more detailed information. What command are you trying? What the full output of the command?

[2018-02-06 07:32] dongmh commented on #15
This is the full command and output. Is there anything wrong? Thank you.

$ python synthesis.py ./checkpoints/checkpoint_step000210000.pth ./mytest --conditional=./data/LJSProcessed/ljspeech-audio-00002.npy
Using TensorFlow backend.
Command line args:
 {'--conditional': './data/LJSProcessed/ljspeech-audio-00002.npy',
 '--file-name-suffix': '',
 '--help': False,
 '--hparams': '',
 '--initial-value'

[2018-02-06 07:36] azraelkuan commented on #15
@dongmh maybe you can use `np.load(xxx.npy)` and print its shape, make it equals to 2.

[2018-02-06 07:48] dongmh commented on #15
@imdatsolak  You are right. Thank you.

[2018-02-06 07:49] dongmh commented on #15
@azraelkuan Thank you. I should use the mel...npy file.

[2018-02-06 09:10] r9y9 commented on #15
I added an error handing for the invalid conditional feature case. Does this look better?

[code]

[2018-02-06 10:32] toannhu commented on #12
@r9y9 @imdatsolak Thanks for support. I have found [Montreal Forced Aligner Tool](http://montreal-forced-aligner.readthedocs.io) that help me with this problem. As I see in this repo, @r9y9 uses another library [nnmnkwii](https://github.com/r9y9/nnmnkwii) to do the frontend things. Please excuse my ignorance but can you explain for me what the input feed to Wavenet vocoder for local condition? It'

[2018-02-06 10:46] r9y9 commented on #12
There's no text processing frontend used in the repository. nnmnkwii has functionality to extract linguistic features from HTS-style context labels, though. In this repository nnmnkwii is used for mostly preprocesssing. e.g, mulaw or inv_mulaw. https://r9y9.github.io/nnmnkwii/latest/references/preprocessing.html

The `WaveNet` class in the repository doesn't assume any particular domain of the con

[2018-02-06 11:09] toannhu commented on #12
@r9y9 Thanks for enlight me. Finally I got the key thing. One more question, is this possible to use Wavenet Vocoder with Tacotron? Do you plan to this thing in the future? Any idea suggestion?

[2018-02-06 13:56] r9y9 commented on #12
Definitely it's possible. Tacotron2-like wavenet vocoder is WIP at https://github.com/r9y9/deepvoice3_pytorch/pull/21.

See also https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-359182424.

[2018-02-06 17:40] r9y9 commented on #15
I'm closing this. Feel free to reopen if you still have the issue.

[2018-02-06 17:40] #15 closed

[2018-02-06 18:25] r9y9 commented on #13
With mixture of logistic distributions, we can reduce GPU-memory usage drastically. For example, with 10 mixture of logistic distributions, we have only 30 nodes in the output layer.

https://github.com/r9y9/wavenet_vocoder/blob/3cf66f5a6b0df55bca98fe4967f5bb2ca2fcb86d/hparams.py#L60-L62

One drawback of use of logistic distributions I noticed from my experiments is that it will take too much time

[2018-02-07 07:20] imdatsolak commented on #13
Currently, I'm using `out_channels = 256` because `quantize_channels=256` and `input_type=mulaw-quantize`.

Even with these settings, it takes quite some time to generate music. wavenet is computationally quite intensive (as you well know). I'm looking into areas where we can make it faster...

[2018-02-12 03:18] r9y9 commented on #1
https://r9y9.github.io/wavenet_vocoder/

Update samples of multi-speaker WN. Used mixture of logistic distributions. It was quite costly to train.. Also added ground truth audio samples for ease of comparison.

[2018-02-12 12:12] zhf459 opened #16 "what's difference between forward and incremental_forward?"
I notice there are functions like forward and incremental_forward functions in ResidualConv1dGLU,Conv1d,Wavenet ,what's the purpose of this?

[2018-02-12 15:01] r9y9 commented on #16
- forward: Used for training time, where the entire audio samples are available (teacher-forcing).
- incremental_forward: Used for inference time. Samples are generated auto-regressively.

[2018-02-15 02:11] rafaelvalle commented on #1
@r9y9 what do you mean by costly do train? what are the biggest challenges?

[2018-02-15 11:56] r9y9 commented on #1
I meant it's much time consuming. It took a week or more to get sufficient good quality for LJSpeech and CMU ARCTIC.

[2018-02-15 12:39] jiqizaisikao opened #17 "Hi,will it convergence when the batch size is 1"
My GPU is gtx1070ti,so i can only try batchsize=1 and wave length=8000,so i really do not know  will this get the same result as the batchsize>>1

[2018-02-15 16:34] r9y9 commented on #17
I would say you can just try it. I had used batch size 1 for a while and got reasonable results as far as I remember correctly. I increased it to improve computational efficiency.

[2018-02-15 16:39] rafaelvalle commented on #1
Can you share the loss curve?

[2018-02-15 16:47] r9y9 commented on #1
I’m in a short business trip and do not have access to my GPU PC right now. I can share when I come back home after a week.

[2018-02-15 18:37] rafaelvalle commented on #1
That's great, Ryuchi! Thank you@

[2018-02-17 04:09] rraallvv opened #18 "Running out of GPU memory!"
The error below is thrown when I try to train `wavenet_vocoder` with the default parameters on a Jupyter Notebook at [Googles's Colaboratory site](colab.research.google.com)

[code]

[2018-02-17 15:19] duvtedudug opened #19 "Good pre-trained weights anyone?"
First, thank you very much @r9y9 and everyone for the great work!

Does anyone want to share pre-trained weights that sound good?

Particularly for LJSpeech if possible. My training is to be converging to a very high loss value. I would love to experiment with some sounds, and maybe figure out where I am going wrong in training.

Thanks in advance,
Duvte.

[2018-02-18 10:23] azraelkuan commented on #19
@duvtedudug i have trained ljspeech for 340k, this is the link [ljspeech_340k_pth](https://pan.baidu.com/s/1kWWdbRT)

[2018-02-18 10:29] r9y9 commented on #19
https://www.dropbox.com/s/8qgcbd1mm2xsqgq/20180127_mixture_lj_checkpoint_step000410000_ema.pth?dl=0

Weights used to generate speech for https://r9y9.github.io/wavenet_vocoder/

[2018-02-18 11:48] duvtedudug commented on #19
@azraelkuan @r9y9
Thank you both very much!

[2018-02-19 21:36] bliep commented on #1
In the original Salimans pixel-cnn++ code the loss is converted to bits per output dimension which is actually quite handy for comparison with other implementations and experiments. For this just divide the loss by the dimensionality of the output * ln(2).  How many bits is the model able to predict?

[2018-02-19 21:47] pbaljeka commented on #19
@r9y9 Thanks for the checkpoint! Would it be possible to share the multispeaker checkpoint as well?
Thanks!

[2018-02-19 21:47] rafaelvalle commented on #1
This is unclear to me, probably because I haven't read the paper. You're
saying that n_bits = loss / C, that is the loss the more bits the model can
output?

On Feb 19, 2018 1:36 PM, "bliep" <notifications@github.com> wrote:

In the original Salimans pixel-cnn++ code the loss is converted to bits per
output dimension which is actually quite handy for comparison with other
implementations and exper

[2018-02-19 22:09] bliep commented on #1
The loss is the negative log probability, and averaged over the output dimension it is an estimate of the the entropy in a sample. In the original paper (predicting pixels in an image) the residual entropy was around 3 bits (out of 8, so predicting 5 bits). Since it is not easy for me to figure out the output dimension of this wavenet implementation, a loss of 56-57 doesn't tell me much.
(see http

[2018-02-20 00:00] rafaelvalle commented on #1
Sorry, what I meant to say was: n_bits = loss / C, that is `the higher the loss` the more bits the model can output?

[2018-02-20 01:09] rafaelvalle commented on #1
I see now, it's still the loss but converted to bits.
I think this model was trained with a mixture of 10 logistics.

[2018-02-20 01:17] r9y9 commented on #19
https://www.dropbox.com/s/d0qk4ow9uuh2lww/20180212_mixture_multispeaker_cmu_arctic_checkpoint_step000740000_ema.pth?dl=0

Here you are:) This is also the one used for the demo page.

[2018-02-20 10:58] et1234et commented on #1
@r9y9
I tested LJSpeech using latest code.(~1000K) but it slightly noisy..
Is same Latest code to updated sample setting?  (https://r9y9.github.io/wavenet_vocoder/)
[checkpoint_step001000000.zip](https://github.com/r9y9/wavenet_vocoder/files/1739797/checkpoint_step001000000.zip)

[2018-02-21 04:46] r9y9 commented on #1
Yes, current master is the latest one and this is what I locally have. Maybe training procedure I described in https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-361130247 is important for quality.

[2018-02-21 17:41] dyelax commented on #1
@r9y9 would you mind re-sharing your weights for the mel-conditioned wavenet? The link you shared earlier is broken. Thanks!

[2018-02-22 04:17] SvenShade opened #20 "Tkinter's PhotoImage methods and Thread Safety?"
Hi guys! Fantastic work with this implementation.

Hopefully a quick question today; all was training fine over LJSpeech, until 16k steps or so, when this error was thrown.

[code]

I've kept in some of the former prints to help contextualise the first error (the exception in tkinter).
I feel rather out of my depth trying to debug this, as I'm not sure where to begin. Is this something people have

[2018-02-22 04:21] mdda commented on #20
FWIW : I've also seen this error from tkinter w.r.t.  PhotoImage objects and threads, running on the command line in Fedora 27, Python 3.6 (tkinter in system packages, rather than the env).

[2018-02-22 04:27] SvenShade commented on #20
Thanks. Yeah, it's surely something to do with tkinter not being thread-safe with those PhotoImage methods. Dunno what to do about that though xD

[2018-02-22 07:25] r9y9 commented on #1
@dyelax Can you check the links in #19 instead?

[2018-02-22 07:30] r9y9 commented on #20
Likely there’s a problem in matplotlib backend. Can you try https://github.com/r9y9/wavenet_vocoder/issues/9#issuecomment-359342322 and see if it works?

[2018-02-23 06:43] neverjoe commented on #1
yelp, now we generated quite nice voice, but it is still some noise, can u find how to improve?

[2018-02-23 09:38] SvenShade commented on #20
So far so good! I'll let it run overnight to be sure.

[2018-02-23 20:46] duvtedudug opened #22 "+0.01 in audio._amp_to_db(x) ???"
What is the reason for raising the floor of the spectrogram in the amp to db function?

Did this give better sound quality?

[code]

And a small point, should the inverse function not have - 0.01 at the end to compensate for this?

Thanks in advance!

[2018-02-24 02:02] jiqizaisikao opened #23 "Why the discretized_mix_logistic_loss get nan？"
Hi:
    I used your vocoder in my project and set the log_scale_min=float(np.log(1e-4)) and some other value bigger,why it still got nan loss ,will overflow happens at this situation?

[2018-02-24 03:48] r9y9 commented on #20
Should be fixed by https://github.com/r9y9/wavenet_vocoder/pull/21

[2018-02-24 07:55] r9y9 commented on #22
This is a method mentioned in the secton 2.2 of the Tacotron2 paper (https://arxiv.org/pdf/1712.05884.pdf) to limit dynamic range of mel-spectrum values.

I think you are right. I forgot to do that, though it's never used in the repository. Will fix this in https://github.com/r9y9/deepvoice3_pytorch, Thanks!

[2018-02-24 14:06] SvenShade commented on #20
Yep, I believe so.

[2018-02-24 16:03] r9y9 commented on #23
Please provide exhaustive information as much as possible. Otherwise we cannot help you much.

[2018-02-25 00:19] r9y9 opened #24 "WaveGAN vs WaveNet"
https://twitter.com/chrisdonahuey/status/963696319545176064

Needs experiments using speech command dataset,

[2018-02-25 02:37] jiqizaisikao commented on #23
thanks,maybe because i put the clip_grad_norm before loss backward ,i will try put it after the loss backward

[2018-02-25 03:01] jiqizaisikao opened #25 "Thanks,i will try the mixture model again"
ok,i will try the mixture model again

[2018-02-25 03:46] jiqizaisikao commented on #25
1 ,I  get output y_hat from category model from your code
2 ,I calculate z=abs(stft(y_hat)-stft(x))
3, it seems that z can not backward

[2018-02-25 04:01] r9y9 commented on #25
So It seems your stft doesn’t implement backward.

[2018-02-25 04:09] jiqizaisikao commented on #25
No,the stft is from some other project and it can backward loss,i have tested it ,it seems that the category output  can not backwad loss

[2018-02-25 12:28] #22 closed

[2018-02-26 07:56] azraelkuan commented on #1
@r9y9 for multi gpu training,  i test that we only need to fix https://github.com/r9y9/wavenet_vocoder/blob/26e4305dab0eec33fc8d54f717f12ca603e17ca6/train.py#L639 to `y_hat = torch.nn.parallel.data_parallel(model, (x, c, g, False))`.
Also, we can set the `device_ids` and `output_device` for different cmd args

[2018-02-26 14:40] Feng-long opened #26 "Error in extracting melspectrogram"
Hi, @r9y9
     I am using your tool to preprocess the waveform of LJspeech database. However I meet this assertion error in melspectrogram extraction  for every utterance.  assert S.max <=0 and S.min-hparams.min_level_db >=0  I see you set min_level_db=-100, ref_level_db=20. Shall I set different values depends on the speech database? or Did I misunderstood something?

Thanks

[2018-02-26 15:09] isn0gud opened #27 "Multi speaker embedding not working?!"
https://github.com/r9y9/wavenet_vocoder/blob/4e517c0f1ae2471380b76c105c4ae297ebe834af/wavenet_vocoder/wavenet.py#L187-L192

I am trying to get the multi speaker conditioning to work (using it as lib). So `g.shape is (B x C'')` and the `embedding_dim is D`, so Line 191 gives `(B x D x C'')`.
Yet, `_expand_global_features` expects a g which has the shape ` (B x C) or (B x C x 1)` to expand `C` to th

[2018-02-26 15:27] r9y9 commented on #27
https://www.quora.com/What-is-the-difference-between-using-word2vec-vs-one-hot-embeddings-as-input-to-classifiers

Not necessary, but I like embedding. With embedding we can get semantically meaningful interpretation. For example. male / female:

![speaker_embedding](https://user-images.githubusercontent.com/1220272/36678268-9fdca436-1b53-11e8-9811-f85c37dce65b.png)

[2018-02-26 16:24] isn0gud commented on #27
Yes, makes sense.

But I still don't get how the global conditioning is supposed to work.
In your test, you condition on `[[[0]]]` as `g`. Is the speaker id instead of a one_hot expected?

[2018-02-26 18:20] isn0gud commented on #27
[code]

Throws:

[code]

[2018-02-26 23:44] r9y9 commented on #27
I can reproduce. I will look into it later today.

[2018-02-27 09:49] LCLL opened #28 "About the synthesis time"
Hi, r9y9,
       Thanks for sharing the great work. Can you share the detail time for synthesis a wav? Thank you.

[2018-02-27 12:43] isn0gud commented on #27
Ok, I figured it out, the speaker shouldn't be encoded as one hot, just as Long.

[2018-02-27 12:43] #27 closed

[2018-02-27 12:47] r9y9 commented on #27
Sorry about that. I noticed just now. I am working on support for one-hot vector as well.

[2018-02-27 12:47] r9y9 commented on #27
and also clarify docstrings

[2018-02-27 12:52] isn0gud commented on #27
Yeah, the docstring confused me the most

[2018-02-27 13:11] r9y9 commented on #27
https://gist.github.com/r9y9/47df1b63680275258014359337544d4b

Now you can use one-hot vector as well.  Let me know if you still find something confusing. https://github.com/r9y9/wavenet_vocoder/commit/9aced5c8037ec9cc748ff17f4d6e85c967bb2760

[2018-02-27 15:19] r9y9 commented on #26
That's a sign that clipping happened during feature normalization. Using default parameters I believe clipping rarely happens and doesn't affect speech quality much, though. I changed hyper param so you will not see the assertion anymore.

[2018-02-27 15:22] r9y9 commented on #28
I don't have an answer right now, but that would be best if you can try it yourself? :)

[2018-02-27 21:05] bliep commented on #1
Efficient Neural Audio Synthesis https://arxiv.org/abs/1802.08435
Lots of interesting tricks and the claim is real-time on a mobile cpu due to weight pruning.

[2018-02-27 23:28] #20 closed

[2018-02-28 01:24] jiqizaisikao commented on #18
yes,just set batch_size=1 and max_time_steps  small,i think that you just need 4G GPU memory

[2018-02-28 01:27] jiqizaisikao commented on #18
hi,@r9y9 i have found that when eval model,maybe better setting the requires_grad of the model to be false otherwise the memory use will double and quickly run outof memory

[2018-02-28 01:28] jiqizaisikao commented on #28
My GPU is GTX1070ti and the synthesis a wav of 1S will take about 3 minuts

[2018-02-28 10:09] nsmetanin commented on #28
On Tesla M60 it takes ~7.5mins to generate 1 second of audio (with default params)

[2018-02-28 12:31] zhf459 commented on #28
Hope to see the powerful Parallel Wavenet

[2018-03-02 06:08] zhf459 commented on #7
@npuichigo hi, what's the meaning of the description of  working out the  kld loss?
![question](https://user-images.githubusercontent.com/8691353/36885634-2a18642e-1e23-11e8-9851-2cc2e1583af7.jpg)

[2018-03-02 10:07] npuichigo commented on #7
@zhf459 The H(Ps) term of kld can be solved analytically, while the H(Ps, Pt) can only be estimated by sampling, which I mean is that we first draw multiple different samples from the student and then use the teacher to score them. It's quite similar to the form of the reconstruction error in VAE.

[2018-03-02 10:36] zhf459 commented on #7
@npuichigo How to score them?Say I sample from student(1-mixture) to get X and I know the distribution of the teacher(10-mixture), so I have to get the log_Pt(by discretized_mix_logistic_loss) and Ps(sigmoid((x-mu)/s)) for H(Ps,Pt) =-sum(log_Pt*Ps) term, and H(Ps)=sum(log(s)+2), then kl_loss = H(Ps,Pt) - H(Ps) and average the this kl_loss for multi-samples? I'm not sure I understand correctly.

[2018-03-02 10:54] npuichigo commented on #7
@zhf459 Since discretized mixture of logistic distribution is represented as a set of pi, u and s, I think you cannot use H(Ps,Pt) =-sum(log_Pt*Ps) like softmax. In fact, H(Ps, Pt)=E(-log(Pt(x))) where x ~ Ps, so you only need to feed the sampled x into the teacher to estimate the term, like what you do when training the teacher. The teacher loss is just the negative log probability.

[2018-03-02 17:40] r9y9 commented on #18
I don't think it matters if you have sufficient GPU memory, but yes, ideally `requires_grad` should be set to False at eval mode.

[2018-03-04 13:15] Beronx86 commented on #7
@zhf459 Hi, iaf stack in parallel wavenet should output 3 parameters, `x`, `m` and `s`.  `x` is the predicted sample. `m` and `s` are the output distribution mean and scale. `x` can be calculated from `m`, `s` and the `random_input`. `x = m + random_input * s`.  According to the paper, `H_Ps` is to sum up `ln(s) + 2` according to the time dimension, assuming `s` is of shape `batch_size * time_step

[2018-03-05 02:07] zhf459 commented on #7
@npuichigo  @Beronx86  Thank you all ,I will check it today.

[2018-03-05 08:07] r9y9 commented on #19
@mfkfge Sounds like there's mismatch between mel-spectrogram and speaker ID. Did you use mel-spectrogram of speaker ID 5?

[2018-03-05 10:36] mfkfge commented on #19
@r9y9 yes. i did try with mel-spectrogram of speaker id 5 as well as that of speaker id 6.

[2018-03-05 15:00] r9y9 commented on #19
Oh, I see the problem. Can you try with `--hparams="input_type=raw,gin_channels=16.sample_rate=16000"`? `sample_rate` is 16kHz for CMU ARCTIC.

[2018-03-05 18:33] kenanEkici opened #29 "Parallel WaveNet"
When can we expect an implementation of Parallel WaveNet?

[2018-03-05 23:34] r9y9 commented on #29
Dup of #7. Not planned currently, I would be happy to accept a PR though.

[2018-03-05 23:34] #29 closed

[2018-03-06 02:47] mfkfge commented on #19
@r9y9 Thanks! It turns good with "sample_rate=16000".

[2018-03-06 06:32] neverjoe commented on #7
some one can share your Parallel WaveNet generated wav?@npuichigo @Beronx86 @DabiaoMa

[2018-03-06 07:29] Beronx86 commented on #7
@neverjoe the result is not good enough. the predicted wave is very noisy.

[2018-03-06 07:50] npuichigo commented on #7
@Beronx86 Have you ever seen anything that the entropy of student network suddenly changes? Can you share your student entropy after being stable?

[2018-03-06 08:19] Beronx86 commented on #7
The loss curve is also very noisy. still debugging.
<img width="364" alt="dingtalk20180306161359" src="https://user-images.githubusercontent.com/9522624/37021320-193d2074-215a-11e8-96b4-56e8c20ab096.png">
<img width="384" alt="dingtalk20180306161316" src="https://user-images.githubusercontent.com/9522624/37021321-196db0c2-215a-11e8-86ac-f897f4add586.png">
<img width="374" alt="dingtalk201803061612

[2018-03-06 08:30] zhf459 commented on #7
@Beronx86 have you tried only use the kl_loss as the loss of Parallel Wavenet?

[2018-03-06 08:48] Beronx86 commented on #7
Hi @zhf459 the previous loss figure is only using kl loss.

[2018-03-06 10:15] npuichigo commented on #7
@Beronx86 What about the mean loss averaged over samples? Perhaps you sum over them?

[2018-03-06 10:52] Beronx86 commented on #7
@npuichigo sum over time steps.

[2018-03-06 14:48] danshirron opened #30 "Taking Tacotron2 output to wavenet vocoder"
Anyone had experience with the above?
I guess that audio hparams need to be same for both. My intuition for using ljspeech:

Settings for tacotron 2 implementation(https://github.com/Rayhane-mamah/Tacotron-2):
num_mels=80
num_freq=1025; In wavenet code fft_size=1024 in t2 fft_size=(1025-1)*2=2048. As far as i understand i can keep this as is since anyways this accumulates to mel bands
sample_rate=

[2018-03-07 06:56] neverjoe commented on #30
At least, u should adjust the upsample layer with your hop_size or frame_shift_ms, in my experience, just freezing other layer and retraining can work.

[2018-03-08 07:44] danshirron opened #32 "Dilation conv kernel size=3"
In hparams kernel_size=3 while in most implementations i came across, kernel size 2 is used.
Does anyone have experience with implications (mainly output quality) of using kernel size=3 vs 2?

[2018-03-08 15:09] bryanjp3 commented on #32
The original wavenet used filter width of 2 which is why its the most common. In the parallel wavenet paper they increased sampling rate from 16kHz to 24kHz, filter width of 3 and claim better sound quality. Since the sample rate 50% faster and filter width is 50% longer, the convolution is essentially over the same amount of time. So far I have my best results with 3 width filter, 24kHz but I hav

[2018-03-09 02:35] xuerq commented on #7
Hi

[2018-03-11 09:20] naturomics opened #33 "It's not necessary to sum up 'log_probs' at the last dimension in discretized_mix_logistic_loss function"
Hi Ryuichi,

Thanks for your great work.

Forgive me if I got this wrong but I think it's not necessary to sum up `log_probs`  at the last dimension [here](https://github.com/r9y9/wavenet_vocoder/blob/2bf9e78fdee5aef16a63747c82691877fa70c413/wavenet_vocoder/mixture.py#L101). Saying

should be

I saw your code is adapted from [pixel-cnn](https://github.com/openai/pixel-cnn), but these two cases are

[2018-03-12 09:22] jiqizaisikao opened #34 "Is it wrong for the discretized_mix_logistic_loss?"
Hi,in the func:discretized_mix_logistic_loss
 log_probs = torch.sum(log_probs, dim=-1, keepdim=True) + F.log_softmax(logit_probs, -1)
why do this torch.sum(log_probs, dim=-1, keepdim=True)
 p=(π1*p1+π2*p2....)/(π1+π2...)
if F.log_softmax do this:log(π1/(π1+π2...)) log(π2/(π1+π2...)) ...
maybe should do like this:
log_probs = log_probs+ F.log_softmax(logit_probs, -1)
if modify it then the p is much

[2018-03-12 09:25] jiqizaisikao commented on #34
In my opinion,F.log_softmax output the normalized coefficient π1 π2....it maybe should sum the p1 p2....and π1 π2 first

[2018-03-12 09:27] jiqizaisikao commented on #33
yes,i have also find the same problem

[2018-03-12 09:29] jiqizaisikao commented on #34
It seems that some other body found the same problem.Ignore this

[2018-03-12 09:36] jiqizaisikao commented on #33
I have one question:the integration of p from (-1,1) should be 1,but it seems that there is no guarantee to it。Like the original code the p is so small like exp(-50)  and  integration of p will not be 1.I have trained 320k iters,and I have use  my modified version the p is like exp(-5)

[2018-03-12 09:59] r9y9 commented on #33
Thank you for the comment. I would like to think about it again but do not have time currently:( If you are sure it's a right fix and can get good speech quality, that would be great.

From https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-359735902:

[2018-03-12 16:33] duvtedudug opened #35 "Why lws and not regular stft?"
Is there a reason for using lws?

Do you use reconstructed phase somewhere to improve quality?

Thanks in advance, Duvte.

[2018-03-13 06:06] r9y9 commented on #35
No.

The reason is that I wanted to integrate the vocoder with https://github.com/r9y9/deepvoice3_pytorch, which uses lws. I needed to use same audio feature extraction pipeline. See https://github.com/r9y9/deepvoice3_pytorch/pull/21 for wavenet vocoder integration with DeepVoice3.

[2018-03-13 08:44] einteract opened #36 "Can you share with me your checkpoint file?"
I would want to try the result first. Thanks - Calvin

[2018-03-13 09:19] r9y9 commented on #36
See https://github.com/r9y9/wavenet_vocoder/issues/19.

[2018-03-13 09:19] #36 closed

[2018-03-13 10:47] xuerq commented on #7
training a IAF student modle bease on softmax teacher WaveNet seems feasible，but quite noisy

from top to bottom：ground truth、teacher model synthesis、white noise and student model synthesis
![image](https://user-images.githubusercontent.com/16162414/37336692-22fe804c-26ed-11e8-855d-ae88905dba76.png)
![image](https://user-images.githubusercontent.com/16162414/37336724-34571994-26ed-11e8-9dca-741585

[2018-03-13 11:11] npuichigo commented on #7
@xuerq Hi, can you get noiseless results from a student model trained with a logistic distribution teacher?

[2018-03-13 11:26] xuerq commented on #7
Hi @npuichigo , training a MoL WaveNet is very time-consuming and less stability than softmax from my experience . so I didn't try it

[2018-03-13 11:55] neverjoe commented on #7
@xuerq great job, can u share your network or training params？

[2018-03-13 14:52] xuerq commented on #7
@neverjoe I'm not sure whether my parallel wavenet implementation is correct or not, still working on it, but the teacher model is similar to deepmind's paper except for the ouput layer and the dilated convolution filter size (not 3)

[2018-03-13 20:28] dyelax opened #37 "Out of Memory on Synthesis"
When running `python synthesis.py <model_checkpoint_path> <output_dir> --conditional <mel_path>` , I consistently run out of GPU memory about 4 minutes into synthesis. I have a GTX 1080Ti (11GB memory), and when I watch `nvidia-smi` while synthesis is running, the memory usage continually increases until it runs out. How much GPU memory is generally required to synthesize a clip?

For reference, h

[2018-03-13 21:49] duvtedudug commented on #35
That makes sense, thanks!

How close are you to integrating DeepVoice3 together with WaveNet Vocoder?

[2018-03-14 14:16] imdatsolak commented on #37
@dyelax : are you getting OOM from NVIDIA Cuda or are you running out of main RAM? I can't see anything in r9y9's code where it would run OOM on GPU, but rather a place where it could run out of memory on main RAM if the audio to be generated is too long.

I have just generated an audio of 240,000 frames (yours is 195,328) and I had no problems with GTX 1080 Ti (11GB). BUT: I have 128GB of RAM...

[2018-03-14 14:18] imdatsolak commented on #30
@danshirron : just did that. I used the same training data for both, did NOT change much in hparams (apart from samplerate in my case and batch-size). Generated a mel in T2, reshape'd it (there is a bug in T2) and fed it to wavenet_vocoder. It works very nicely, though my results are not yet really good (incomprehensible audio in T2 as well as in wavenet). But the incomprehensible audio sounded id

[2018-03-14 20:24] dyelax commented on #37
It's definitely a CUDA memory issue. Here's the error I'm getting:

[code]

I have 16GB RAM, but again, this definitely seems like a GPU memory problem. Especially sice I can see the GPU memory climbing and hitting max in `nvidia-smi`. I'm using `--preset presets/ljspeech_mixture.json`, which should have a sample rate of 22050

[2018-03-15 02:17] luocanrao opened #38 "Is it wrong for these code?"
y_hat = model(x, c=c, g=g, softmax=False)

    if is_mulaw_quantize(hparams.input_type):
        # wee need 4d inputs for spatial cross entropy loss
        # (B, C, T, 1)
        y_hat = y_hat.unsqueeze(-1)
        loss = criterion(y_hat[:, :, :-1, :], y[:, 1:, :], mask=mask) # criterion  is nn.CrossEntropyLoss
    else:
        loss = criterion(y_hat[:, :, :-1], y[:, 1:, :], mask=mask)

I am con

[2018-03-15 08:09] imdatsolak commented on #37
Hmm, we are using Python 3.5 and no Docker-images. The problem is that `.clone()` is actually copying data, you you might actually reach a limit. I never had the problem but, you are right, you might be running OOM in Cuda because of cloning the data too many times...
Try reducing samplerate to 16000 or even 12000 Hz, pre-process again and try with that.

Sorry that I can't help more...

[2018-03-15 09:29] npuichigo commented on #37
@dyelax What about synthesizing on cpu? I think it may run faster.

[2018-03-16 07:59] r9y9 commented on #38
See docs for `cross_entropy2d` https://github.com/pytorch/pytorch/pull/687/files. The spatial case of cross entropy is not well undocumented at the moment (see https://github.com/pytorch/pytorch/pull/687#issuecomment-295743429).

[2018-03-16 13:44] r9y9 commented on #35
It will take me a few months :(

[2018-03-17 14:58] r9y9 commented on #37
I'm not sure if I can write pytorch code that triggers OOM, without accessing low-level APIs of CUDA. Isn't it a GPU driver bug or pytorch bug?

[2018-03-17 15:02] r9y9 commented on #37
I'm curious to see a fix by @neverjoe.

[2018-03-18 01:50] #25 closed

[2018-03-18 01:51] #23 closed

[2018-03-18 07:32] yishaicohe opened #39 "Using DeepVoice3 mels spectrogram as wavenet vocoder's input"
I hope anyone can help me with a problem I got while trying to run both DeepVoice3 and Wavenet systems.

When I run TTS with Deepvoice3 on LJSpeech, I got a robotic sound.
I know that Wavenet can predict a better reasults.
I extract the mel spectrogram from DeepVoice3 system (hopefully I did it right) and tried to set it as an input for the Wavenet system.
The results weren't so good, as the voice

[2018-03-20 13:19] SvenShade commented on #39
Yeah, I'm currently training on solo instrumental audio, and experiencing this same background whistling! Anyone else experienced the same thing, or know what might be causing it?

[2018-03-21 05:19] PetrochukM opened #40 "Better Quality?"
Samples this repo sound too real to be true. What's the difference between these repos?

https://github.com/kan-bayashi/PytorchWaveNetVocoder

[2018-03-21 06:26] PetrochukM opened #41 "Training time"
How long does it take to train the LJSpeech dataset to 800k steps?

Thanks!

[2018-03-21 07:00] PetrochukM opened #42 "Speech to Speech"
Does it make sense to use the Wavenet vocoder as it is for speech to speech? For example, Can I record my voice, generate a melspectrogram, then use a pre-trained model on LJSpeech dataset to respeak it?

I've been trying this and the results don't sound good.

[2018-03-21 07:10] r9y9 commented on #41
For me 100k step per day, so 8 days for 800k steps. I'm using GTX 1080Ti and i7-7700K.

[2018-03-21 08:36] pfriesch commented on #42
The problem is that the speaker (you) was not in the training set. You could try to record a bit of audio of yourself, remove all the silences and fine-tune on that.

[2018-03-22 03:39] PetrochukM commented on #42
Have their been experiments to train multi-speaker to speaker? Train the model to generally be able to take any voice and convert it into a single voice? Do you know?

[2018-03-22 17:45] neverjoe commented on #7
someone can tell me how to sample from student model? I can't understand what's the input of teacher
model? It's z*scale + mu, z is the student's input? Or np.random.logistic(mu, scale)?
@DabiaoMa @npuichigo @xuerq

[2018-03-23 02:13] r9y9 commented on #7
Please respect everyone's time and do not request too much with @ mentions.

[2018-03-23 02:27] Beronx86 commented on #7
@neverjoe the teacher's input is the student's prediction, so z is the student's random input. z * scale_tot + mean_tot is the student's prediction.

[2018-03-23 03:41] npuichigo commented on #7
@Beronx86 So what about sampling mutiple times? Just sample multiple z to get multiple x, or fix z to predict scale_tot and mean_tot then sample multiple x from Logistic(scale_tot, mean_tot) which is epsilon * scale_tot + mean_tot (epsilon ~ Logistic(0, 1)).

[2018-03-23 05:14] Beronx86 commented on #7
I think the latter is correct.

[2018-03-23 05:45] xuerq commented on #7
@neverjoe I agree with Beronx86

[2018-03-23 11:04] jiqizaisikao commented on #7
Temp method that loss=H(ps,pt)-H(ps) sample from the student is time consuming,I have tried sampling from the teacher and  loss=H(pt,ps)-H(pt) but it seems that it will easily got nan value.Anybody know the reason?

[2018-03-23 17:32] PetrochukM commented on #41
Thank you!

[2018-03-23 17:32] #41 closed

[2018-03-23 17:34] PetrochukM commented on #42
It's interesting from a voice actor perspective. What if there was no need for studio equipment or multiple voice actors? Developers could record clips and professional sounding audio in a particular voice would be generated.

[2018-03-24 10:07] jiqizaisikao commented on #7
@Beronx86 Hi, how many samples do you used sampling from student?I tried 15 samples but i get nan value,wavenet  quantization is 256

[2018-03-26 08:32] mrsylerpowers opened #43 "Is Implementation with Google's Cloud TPUs possible?"
Is it possible for this project to be implemented with [Google's Cloud TPUs](https://cloud.google.com/tpu/) . My Assumption it it would make it a lot easier for training if one could get a quota for a TPU and would run off the same platform that the [Google Assistant](https://www.xda-developers.com/deepmind-wavenet-google-assistant-tpu/) runs off of.

[2018-03-28 00:25] gauss256 commented on #28
On a GTX 1080 Ti it took about 2.7 minutes per second of output audio.

[2018-03-29 00:43] mrsylerpowers opened #44 "Google releases Cloud TTS speak engine that uses wavenet"
Google just released a [Cloud TTS](https://cloud.google.com/text-to-speech/) service that uses wavenet.

[2018-03-29 12:54] bpotard commented on #40
The acoustic conditioning features are different; r9y9 uses 80 mel spectrogram features with a 62ms step, while kan-bayashi uses 28 acoustic (mcep+f0+noise) features with a 5ms step. Also, the wavenet setup is a bit different, if I am not mistaken it seems kan-bayashi uses the equivalent of:
  "layers": 30,
  "stacks": 3,
  "kernel_size": 2

So kan-bayashi use more acoustic features for input cond

[2018-03-29 13:07] r9y9 commented on #40
Anther difference is that they use noise shaping technique to reduce quantization noise, while we don't.

You can find paper abstract there: [Mel-cepstrum based quantization noise shaping applied to speech synthesis based on WaveNet](http://www.ieice.org/ken/paper/20180121t1bk/eng/).

[2018-03-30 01:54] geneing commented on #44
Maybe on could one use cloud tts to generate clean training data (e.g. an alternative to LJSpeech dataset). Models trained on this data won't sound better wavenet, though.

[2018-03-31 13:36] liusongxiang opened #45 "Cannot reproduce as good audios as the demo shows"
Hi, @r9y9, thanks for sharing this great repo. I have run your code using CMU ARCTIC clb data to train a single-speaker wavenet. I think I have set all the model hparams as the same as you show on your demo website. But the test audios coming out of the 170k-step checkpoint still contain many noises. Below is the haprams, and I have made other codes untouched.
Hope you can help me, thanks.
    inp

[2018-03-31 13:51] r9y9 commented on #45
Just to make sure, this should be 256 in your case, right?

I'm wondering if exponential parameter averaging matters. It may improve quality of final model but will take more training time to converge than the case it's disabled. Can you try with the following parameters?

[code]

Also, If you want to reproduce my experimental settings, try:

[code]

[2018-03-31 14:03] liusongxiang commented on #45
@r9y9 , Thank you very much! Yeah, I did use out_channels=10*3, sorry for the miss.
I will try your setting then.

[2018-03-31 14:05] r9y9 commented on #45
Ah, you need another important change:

[code]

[2018-03-31 14:11] liusongxiang commented on #45
Yeah, It's right! I guess I should go over though all your codes first. Thank you very much!

[2018-04-05 01:38] gudwns1215 opened #46 "what is the option of the pre-trained model"
hi r9y9 thank you for sharing this wonderful program.
I downloaded your pre-trained model and try to synthesize by typing this
python synthesis.py checkpoint/lj_check.pth generated/test_awb --conditional=./LJSpeech-1.1/data/ljspeech-mel-00001.npy

but the result is not good
[lj_check.wav.zip](https://github.com/r9y9/wavenet_vocoder/files/1878314/lj_check.wav.zip)
how do i get same voice as you sho

[2018-04-05 06:09] SvenShade opened #47 "Guiding synthesis with low-fidelity waveform?"
Hi @r9y9, brilliant work with your implementation!

Could you tell me if I can pass in lo-fi audio at synthesis time to help guide generation?
I have audio at a sample rate of 4kHz, along with Mel-spectrogram predictions of that audio upsampled to 16kHz. I want to decode these spectrograms with Wavenet. Can I pass in the original lo-fi audio so that 1 in 4 synthesized samples will be ground truth,

[2018-04-05 12:48] r9y9 commented on #46
I changed audio feature extraction pipeline a bit since I trained the model used to generate sounds at https://r9y9.github.io/wavenet_vocoder/, so you will need to adjust it.  Please checkout at https://github.com/r9y9/wavenet_vocoder/commit/489e6fa92eda9ecf5b953b2783d5975d2fdee27a and then start from extracting mel-spectrogram.

[2018-04-05 13:08] r9y9 commented on #47
Just to be sure, you have 16kHz sampled data for training and want to generate 16kHz sounds from 16kHz mel-spectrogram prediction and 4kHz guided waveform, right? If so, I think it's possible. Just use upsampling layer(s) for guided waveform as same as upsampling layers for mel-spectrograms.

As for the `test_inputs`, it's just for unittests to check if `forward` and `incremental_forward` give sam

[2018-04-05 13:48] SvenShade commented on #47
Thanks! Though, I don't want to condition Wavenet with 4kHz waveforms. I'll still only condition it on the spectrograms. But at synthesis time, I'd like to replace every 4th timestep being predicted, with the ground truth from the 4kHz waveform. In that way, I want to save Wavenet from predicting 1/4 of the samples at all, and that would also guarantee that all the information in the 4kHz waveform

[2018-04-05 14:11] r9y9 commented on #47
umm, I'm not sure what's the motivation. Could you elaborate? and which do you mean by 4kHz waveform?

[code]

or
[code]

If you are talking about the first one, I think it should work. It sounds like semi-teacher-forcing generation.

[2018-04-06 00:27] gudwns1215 commented on #46
hi r9y9 i checked [https://github.com/r9y9/wavenet_vocoder/commit/489e6fa92eda9ecf5b953b2783d5975d2fdee27a](url)but there is no different change in ljspeech hparams
+| key                         | value |
+|---------------------------------|------------------------------------------------------|
+| Data                            | LJSpeech (12522 for training, 578 for testing) |
+| Input type |

[2018-04-06 00:37] r9y9 commented on #46
I mean https://github.com/r9y9/wavenet_vocoder/blob/489e6fa92eda9ecf5b953b2783d5975d2fdee27a/audio.py#L126-L127 was changed to https://github.com/r9y9/wavenet_vocoder/blob/2bf9e78fdee5aef16a63747c82691877fa70c413/audio.py#L127-L129 at some point, which makes difference.

[2018-04-06 02:08] SvenShade commented on #47
That's right! I guess it could be thought of as teacher-forcing synthesis, so that the original lo-fi signal can be a part of the final one, unchanged. The motivation is audio super-resolution. I've trained Wavenet to take 16kHz spectrograms and produce 16kHz audio, but I'd like to use the original audio as the basis of the generated audio. Since 16kHz audio contains 4x as many samples as 4kHz aud

[2018-04-06 03:29] SvenShade commented on #47
I think I might have it working. Thanks for your help!

[2018-04-06 04:09] gudwns1215 commented on #46
aha! thanks! it works!

[2018-04-06 04:37] r9y9 commented on #46
Glad to hear that:)

[2018-04-06 15:30] r9y9 commented on #1
https://github.com/r9y9/wavenet_vocoder#pre-trained-models Added link to pre-trained models.

[2018-04-07 00:25] gauss256 commented on #47
@SvenShade I'm interested in something like this too. Could you share some more details about what you did?

[2018-04-07 06:51] r9y9 commented on #33
@naturomics Sorry for super late reply. I think you are right. Thank you for pointing this out! Much appreciated.

[2018-04-07 07:00] #34 closed

[2018-04-07 07:00] #33 closed

[2018-04-07 07:00] r9y9 commented on #34
Sorry for the stupid bug. It's fixed now. Thanks for pointing this out!

[2018-04-08 02:59] r9y9 commented on #43
Can I get access to TPUs? :-)

[2018-04-08 10:13] SvenShade commented on #47
Sure. I first tried feeding in the lo-fi audio using the test_inputs argument mentioned earlier. Teacher-forcing generation didn't work well. So, I ended up resampling the lo-fi audio to 16kHz, and before each generated output was added to the list of outputs in incremental_forward, I averaged it with the corresponding sample from the lo-fi audio. That seemed to help guide generation, but it's a n

[2018-04-11 06:53] twidddj commented on #1
Hi @r9y9, Thank you so much for sharing your work.

We have followed yours and got some results in Tensorflow.  While we have not many tested yet, It works in the same parameters as yours except without Dropout, WeightNorm techniques. You can find some results in [here](https://twidddj.github.io/docs/vocoder/). If I get another information during testing, I'll let you know about it. Thanks!

[2018-04-11 15:03] duvtedudug commented on #42
This would probably be possible but you would need a vocoder that is not based on mel spectrograms, but based on traditional parameters like f0, phoneme, timings etc. @r9y9 's is based on mel spectrograms.

[2018-04-13 06:25] YanHengxu opened #49 "the problem of pre-model"
When I use the pre-model ,an error appears,I don't know the reason.Can you give me some suggestions? Thank you very much
yan@yan-Default-string:~/文档/beifen/wavenet_vocoder-master$ python synthesis.py --conditional=./data/ljspeech/ljspeech-mel-00001.npy ./checkpoints/checkpoint_step000410000_ema.pth generated
/home/yan/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conver

[2018-04-13 14:14] r9y9 commented on #49
I'm not sure why the error happens, but it seems there's a related issue on pytorch/examples: https://github.com/pytorch/examples/issues/205.

[2018-04-15 02:36] ddemilla opened #50 "Multi-GPU Support"
Are there any plans to add multi-gpu support? I didn't see anything in the TODO list. Thanks!

[2018-04-15 02:41] r9y9 commented on #50
No plans, because I have only 1 GPU:( Contributions are very welcome. FWIW, see https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-368417637

[2018-04-15 02:57] ddemilla commented on #50
Ok thanks, I haven't done much work in PyTorch but I will take a stab at it.

[2018-04-16 09:59] YanHengxu commented on #49
Thank you very much!

Today, I generated audio using a model that trained 500,000 steps. The effect was the same as the one you generated. However, when I imported the MEL spectograms generated by Rayhane-mamah/Tacotron-2 into your model, The following error, can you explain it？
python synthesis.py --conditional=./checkpoints/ljspeech-mel-prediction-step-85600.npy ./checkpoints/checkpoint_step0005

[2018-04-16 14:16] aleksas commented on #37
@dyelax Also try to restart server/computer and execute same command again and see if problem persists. Sometimes I run into similar problems after killing training process which seams to later cause memory allocation issues.

[2018-04-17 08:54] azraelkuan commented on #50
@ddemilla for multi gpu training, you will need to fix the code to use cpu to run the `eval_model` function in `train.py` or you can do not run it in training process.

[2018-04-17 10:38] ChenXi1992 commented on #49
The mel spectrogram in this project is derived from the audio directly. However, the mel spectrogram that you're using from  Rayhane-mamah/Tacotron-2 is the prediction based on the S2S model. It's predictable that the "quality" of the mel spectrogram from Rayhane-mamah would be poor.

[2018-04-18 14:13] azraelkuan commented on #37
I have checked the synthesis process, in the `wavenet.py`
https://github.com/r9y9/wavenet_vocoder/blob/4d5f68c8341eb1dad1307ada7d99c8059840ca64/wavenet_vocoder/wavenet.py#L355
the `x` is the type of `Variable` when we save it in the list, this will case the memory increase in the sample process.
so we should change this to
`outputs += [x.cpu().data.numpy()]`
and change https://github.com/r9y9/wave

[2018-04-18 14:41] ddemilla commented on #50
@azraelkuan Thanks, I will keep that in mind. I just had my gpu quot increased on gcloud so I will start experimenting tonight!

[2018-04-18 14:46] azraelkuan commented on #50
@ddemilla
https://github.com/azraelkuan/wavenet_vocoder/blob/20452d5492bc94185216806251480da20813f80e/train.py#L649

[2018-04-18 22:43] mrsylerpowers commented on #43
@r9y9 I have asked google and got approval for 2x2 TPU for this project named [tpu-tts](https://console.cloud.google.com/home/dashboard?project=tpu-tts) if anyone wants to have access just ask and send me your gmail.

[2018-04-20 03:18] liusongxiang commented on #45
@r9y9 Apologise for having so many questions. I used your codes, your hparams settings and the checkpoints to synthesise LJspeech wavs. However, the quality is not as good again as your demo shows. Attached is some generated wavs. Eager to see your suggestions.
Show appreciation in advance.
Shaun.
[generated.zip](https://github.com/r9y9/wavenet_vocoder/files/1930515/generated.zip)

[2018-04-21 17:14] r9y9 commented on #45
You might want to try fineturning your model. As I mention at https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-361130247, I did finetune the model many times. i.e., train 200k steps -> (change some hyper param and let's see how it works) -> train 200k step (lr starts from initial value) -> ... repeated. This might lead faster convergence. As far as I remember correctly I trained the m

[2018-04-21 23:51] liusongxiang commented on #45
I retrained. The performance is relatively good now. Thank you!

[2018-04-23 14:48] duvtedudug opened #52 "Training with Tacotron GTA mel specs"
I've generated a set of ground-truth aligned mel spectrograms from Rahane's Tacotron-2.

I've trained for over 100k steps but still getting poor results for longer sequences...
[gta-taco-wave-120k.zip](https://github.com/r9y9/wavenet_vocoder/files/1938729/gta-taco-wave-120k.zip)

Any ideas on how to improve this?

[2018-04-23 15:18] Rayhane-mamah commented on #52
I think you're in the same case as:

https://github.com/Rayhane-mamah/Tacotron-2/issues/29

[2018-04-23 16:16] duvtedudug commented on #52
@Rayhane-mamah thanks for the quick reply.

But I think my case is different, since I am using aligned spectrograms output from your Tacotron (not real spectrograms generated from training audio)

??

[2018-04-23 16:27] Rayhane-mamah commented on #52
Oh in that case it's something worth looking at! :)

Could you report tacotron model params? Reduction factor, training steps, etc?

If it's caused by the feature prediction network I'll find the issue.

[2018-04-23 16:52] duvtedudug commented on #52
I think the spectrograms from your Tacotron are good. I trained for 137000 steps on the standard settings (no changes in hparams) and synthesised GTA.

Here's the plots...

![step-137000-real-mel-spectrogram](https://user-images.githubusercontent.com/298918/39141156-ccaccd28-471e-11e8-82d1-7c6be2597666.png)
![step-137000-align](https://user-images.githubusercontent.com/298918/39141157-ccccf814-471

[2018-04-23 21:18] duvtedudug commented on #52
Ah of course. I should have noticed that. Thanks for the pretrained model I will try with r=1

[2018-04-24 07:59] r9y9 commented on #52
A little off topic: I'm wondering if you get such a smooth and natural (at a glance) mel-spectrogram in fact. Did you use https://github.com/Rayhane-mamah/Tacotron-2/blob/1547b2502305f4ee58bceede1384054c22b0497a/tacotron/utils/plot.py#L36-L38 for plotting mel-spectrogram? If so, can you try additional params `interpolation="none"` to `imshow`?

[code]

[code]

I remember I had hard time to get smo

[2018-04-24 08:58] duvtedudug commented on #52
@r9y9 @Rayhane-mamah correct me if I'm wrong. If I use external mel spectrograms from Taco2, then I only need to make sure the Taco2 specs have the same shape as the wavenet vocoder specs generated from preprocess? (i.e. same sample rate, same num hops, 80 dimensional) I presume they do not need to have the exact same frequency ranges or amplitudes?

[2018-04-24 09:58] duvtedudug commented on #52
Here's quick check with no interpolation:
<img width="1381" alt="specs_check_interp_none" src="https://user-images.githubusercontent.com/298918/39180299-64a12c16-47ae-11e8-9723-ecb5b88fa04c.png">

[2018-04-25 02:35] r9y9 commented on #52
@duvtedudug Thanks! Looks good. I should definitely check out the details of Tacotron2.

[2018-04-25 12:51] duvtedudug commented on #52
@r9y9 @Rayhane-mamah no problem. Can anybody confirm my question above? re: Taco specs shape only requirement?

[2018-04-25 14:11] duvtedudug commented on #52
Thanks!

@r9y9 is there a wavenet limitation for local conditioning to be in 0, 1 ?

Maybe I should be more patient and train for 200-300k steps?

[2018-04-25 14:35] Rayhane-mamah commented on #52
Yeah further training might also be the cause, since mels are noisier than
real ones and are in a wider range ( I'm supposing weights are initialized
close to 0 ).

I will leave the final words to the wavenet expert however :)

On Wed, 25 Apr 2018, 15:11 duvtedudug, <notifications@github.com> wrote:

[2018-04-25 14:39] r9y9 commented on #52
There's no limitation for the range of conditional features. Notice that current implementation assumes the range of [0, 1] for simplicity; https://github.com/r9y9/wavenet_vocoder/blob/4d5f68c8341eb1dad1307ada7d99c8059840ca64/wavenet_vocoder/wavenet.py#L162-L164.

[2018-04-25 14:46] r9y9 commented on #52
Are you sure you did correct time resolution adjustment as I did in https://github.com/r9y9/deepvoice3_pytorch/blob/3226e415ef1d8412bb159b228aa3c9212fdb892e/generate_aligned_predictions.py#L38-L42? Also did you use exactly same audio feature extraction pipeline with Tacotron2 and WaveNet? If both you did correctly, then I think you should just be more patient. As I mentioned in https://github.com/

[2018-04-25 15:49] keremsozugecer commented on #50
@azraelkuan thanks for this. Any idea why it's limited to 2 GPUs? We have 4 but it's only using 2. Thanks.

[2018-04-25 16:34] duvtedudug commented on #52
The main difference I could see is the WaveNet specs have extra padding of a few frames at the end. I have padded the Taco generated specs with silence, to match the audio files of WaveNet preprocess. Otherwise audio is identical and mel timing is aligned. I have ```assert taco.shape==wavenet.shape``` before training.

There is difference in the LWS stft of WaveNet seems to be in range [0.4, 0.8]

[2018-04-26 02:13] butterl opened #53 "preprocess error while pip install -e ".[train]" OK on windows 7"
Hi r9y9, thanks for your work!

I only have a borrowed machine with windows 7 have 1060 GPU and I tried  pip install -e ".[train]"

after I finished the preprocess step pop some error

[code]

the pytroch I'm follow the [instruction](http://pytorch.org/)
[code]

And for bandmat I download the code , build locally to solve -Wno-unused-but-set-variable issue

Do you got any idea  how to got through

[2018-04-26 05:40] duvtedudug commented on #52
[train_eval.zip](https://github.com/r9y9/wavenet_vocoder/files/1949842/train_eval.zip)

train_eval audio showing some promise. 190k file not there yet but 180k file sounds not too bad.

[2018-04-26 07:42] butterl commented on #53
I solved it by reinstall the whole env with conda

[2018-04-26 07:42] #53 closed

[2018-04-26 09:42] butterl commented on #37
@azraelkuan  do you meet error  when changed to
current_input=Variable(torch.from_numpy(current_input))

[code]

[2018-04-26 23:52] r9y9 opened #54 "Support for pytorch v0.4"

[2018-04-27 07:58] r9y9 commented on #37
@azraelkuan

so we should change this to
outputs += [x.cpu().data.numpy()]
and change

Sorry for chiming in late.  I understand the memory usage increases in the sampling process but I don't think it triggers OOM unless you are trying to synthesis too long audio. I'm wondering CPU<->GPU data transform per-sample is inefficient, though I don't care the speed so much since it's already super slow.

[2018-04-27 09:57] butterl commented on #52
@duvtedudug  could you help to share your hpara settings in wavenet to train the synthesised GTA npy from Tacotron 2 ?

[2018-04-28 10:14] duvtedudug commented on #45
@r9y9 so if you stop, then start again from checkpoint, the learning rate resets to initial scheme?

[2018-04-28 10:17] r9y9 commented on #45
Yes exactly.

[2018-04-28 17:51] duvtedudug commented on #52
@butterl Normal hparam settings just changed to 256, mulaw-quantised

[2018-04-28 17:53] duvtedudug commented on #45
@r9y9 can you give an example of what changes you made? i.e. what kind of lr made good progress?

[2018-04-30 14:11] r9y9 commented on #45
I was trying to find a good value for https://github.com/r9y9/wavenet_vocoder/blob/1813ea82a64724960f1f928b9ba05768457bc5a5/hparams.py#L51.  Others were not changed as far as I remember correctly.

[2018-05-01 07:50] zhang-jian commented on #50
why we need "for multi gpu training, you will need to fix the code to use cpu to run the eval_model function in train.py or you can do not run it in training process."? Thanks

[2018-05-01 09:32] zhang-jian commented on #50
Clear now. Thanks.

[2018-05-02 11:52] danshirron commented on #54
Need to change in train.py line 496 to:
    length = input_lengths[idx].data.cpu().item()

Old code was:
length = input_lengths[idx].data.cpu().numpy()[0]
This causes "IndexError: too many indices for array"

Thanx @azraelkuan for the tip

[2018-05-02 12:47] danshirron opened #56 "implications of different input types"
Can anyone refer to the pros and cons of different input types (i.e. raw/mulaw/mulaw-quantized)?

[2018-05-02 16:18] PetrochukM commented on #22
Concerning the clip at 0.01, does clip not imply a ``np.maximum(x, 0.01)``. Why is 0.01 used as an offset rather than clip?

[2018-05-04 06:18] r9y9 opened #57 "RFC: Speech samples and pre-trained models"
Dear folks,

I'll giving a presentation about this project this month and I'm looking for speech samples (or models) I can share for the presentation. If you folks are doing cool things with the repository and could kindly allow me to introduce your work, please let me know.

I'm afraid I am unable to play with Tacotron2 myself until now due to time constraints so I would be very happy if you coul

[2018-05-04 08:49] r9y9 commented on #54
Thanks for pointing this out. Will be fixed by #58.

[2018-05-05 11:59] #54 closed

[2018-05-06 10:33] danshirron opened #59 "Objective evaluation of output voice quality"
Hi,
As the quality of output voice is usually evaluated with MOS score (which is subjective) i think it would
be good to have a way to objectively evaluate the quality.
I suggest using the PESQ score which is recommended by ITU-T (https://www.itu.int/rec/T-REC-P.862/en) for evaluating MOS score.
I found this open source: https://github.com/dennisguse/ITU-T_pesq (Read licence)

Would be very intere

[2018-05-07 12:16] Ola-Vish commented on #18
Hi,
Sorry to re-open this, but I'm running into the same problem.

I'm trying to train the model on the ljspeech corpus, conditioned on mel spectrogram. I followed the instructions, didn't change anything in the presets ljspeech json.
I'm training on nvidia P100 GPU, which has 16GB buffer size.
I can see it fills up immediately when I start training, and fails quite quickly with out of memory exce

[2018-05-07 13:10] Ola-Vish commented on #18
@azraelkuan Thank for the suggestion but sadly this didn't help :(
Still the same problem.

[2018-05-07 13:36] r9y9 commented on #18
oops, I just forgot to add `torch.no_grad()`. Fixed.

@Ola-Vish Could you check if some examples of https://github.com/pytorch/examples work for you? Do you think the problem is wavenet_vocoder specific?

[2018-05-07 13:45] r9y9 commented on #18
One thing I think I might be doing wrong is that calling `module.incremental_forward(x)` instead of `module(x)`. I'm not quite familiar with internals of pytorch, but according to the Facebook team it seems the way we are doing now is not recommended. See https://github.com/pytorch/fairseq/commit/50fdf591464ca63940a2c1c5e7057b2f4df034f5#diff-9f76bb3e5dd085949139bba958f8aa3d. That's on my todo list

[2018-05-07 15:59] azraelkuan commented on #18
@Ola-Vish i have test the code of the lastest version. i found that the memory will have a small increase during the training process, so i doubt that whether u use all the memory at first. can u show some more details? such as batch_size, used memory , total memory.

[2018-05-08 06:12] r9y9 commented on #18
For the record, I have been training a model for two days with the latest code after merging #58 on Ubuntu 16.04 but haven't seen any issue.

[2018-05-09 16:28] r9y9 commented on #30
Good news: I just tried this and found it works nicely. I'm planning to make a notebook for Tacotron2 + WaveNet text-to-speech demo that can be run on Google colab. Two samples attached.

[taco2.zip](https://github.com/r9y9/wavenet_vocoder/files/1988652/taco2.zip)

[2018-05-09 21:47] nsmetanin commented on #30
@r9y9 samples sound amazing, can you please share the recipe how to train this model(s)? This doesn't look like default hparams.

[2018-05-09 21:57] rafaelvalle commented on #30
Samples sound great! Would love to see the Taco2 and Wavenet params.

[2018-05-10 01:15] gudwns1215 opened #60 "can I change the dataset?"
Hello r9y9, thank you for sharing your code to us,
I have korean audio with script, is there any way to use this data instead of using ljspeech dataset?

[2018-05-10 16:46] r9y9 commented on #30
https://r9y9.github.io/wavenet_vocoder/ Uploaded Tacotron2 samples. You can find links to hyper params on the page, but here you are:

- Taco2: https://github.com/r9y9/Tacotron-2/blob/9ce1a0e65b9217cdc19599c192c5cd68b4cece5b/hparams.py
- WaveNet: https://www.dropbox.com/s/0vsd7973w20eskz/20180510_mixture_lj_checkpoint_step000320000_ema.json?dl=0

WaveNet params are same as default except for `max_

[2018-05-10 16:52] nsmetanin commented on #30
@r9y9 Great, thanks! Will try to reproduce it. Do you mean WaveNet fine-tuning with teacher-forcing like you did in this https://github.com/r9y9/deepvoice3_pytorch/pull/21 pull or a simple fine-tuning on some dataset?

[2018-05-10 17:02] r9y9 commented on #30
I meant just continuing training with the same dataset (LJSpeech) which the pretrained model trained on. This is due to there was a bug (https://github.com/r9y9/wavenet_vocoder/issues/33) when I trained [the pretrained model](https://www.dropbox.com/s/stxasitb56y1zw8/20180127_ljspeech_mixture.json?dl=0). I didn't use predicted mel-spectrograms for training WaveNet like I did in https://github.com/

[2018-05-10 23:08] rafaelvalle commented on #30
@r9y9 Did you train the Taco 2 model with ARPAbet?

[2018-05-12 05:02] r9y9 commented on #1
I think I can close this now. Discussion on remained issues (e.g, DeepVoice + WaveNet) can continue on specific issue.

[2018-05-12 05:02] #1 closed

[2018-05-12 05:03] r9y9 commented on #45
I'm closing this. Feel free to reopen if you still see the problem.

[2018-05-12 05:03] #45 closed

[2018-05-12 06:05] PetrochukM commented on #30
@r9y9 What was your loss at the end of training?

[2018-05-12 06:52] r9y9 commented on #30
@rafaelvalle I used https://github.com/Rayhane-mamah/Tacotron-2. I believe this uses ARPAbet for the network input.

[2018-05-12 06:55] r9y9 commented on #30
@PetrochukM The last training curve(~ 300ksteps) for training WaveNet used for my demo.
![screenshot from 2018-05-12 15-54-16](https://user-images.githubusercontent.com/1220272/39954554-c0c1aad2-55fc-11e8-8ab9-3a9ccb7604cc.png)

[2018-05-12 14:17] #19 closed

[2018-05-12 14:17] #26 closed

[2018-05-12 14:18] #16 closed

[2018-05-12 14:42] r9y9 opened #61 "Fast Wavenet Generation Algorithm"
Paper: https://arxiv.org/abs/1611.09482

Code:

- https://github.com/vincentherrmann/pytorch-wavenet
- https://github.com/dhpollack/fast-wavenet.pytorch

[2018-05-12 15:06] PetrochukM commented on #52
@r9y9 Why did you include RELu? The Wavenet paper does not discuss using RELu in the transposition network.

https://github.com/r9y9/wavenet_vocoder/blob/740219b5ce8d7a96c30fb68189727451abf9539d/wavenet_vocoder/wavenet.py#L161-L163

[2018-05-13 12:15] phiresky commented on #61
Yes please 👍

[2018-05-14 01:41] gudwns1215 opened #62 "other dataset error?"
hi r9y9 thank you for sharing your code.
I have a problem for changing the dataset from ljspeech to my data. i change the code to txt file like metadata.csv
the error is right below

Receptive field (samples / ms): 505 / 22.90249433106576
TensorBoard event log path: log/run-test2018-05-14_10:33:39.944879
0it [00:00, ?it/s]Saved checkpoint: checkpoints/checkpoint_step000000000.pth
Traceback (most r

[2018-05-14 06:53] neverjoe commented on #30
@r9y9 Do you use ```np.interp``` to scale the mel feature? I found my result not performed perfect.

[2018-05-14 11:09] r9y9 commented on #30
@neverjoe Check out https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb. It's the complete recipe used for my experiment. From that you will find:

[code]

[2018-05-14 12:33] engiecat opened #63 "collate_fn in train.py doesn't apply changes in presets, causing malformed batches"
Hi.
First, thank you for providing such great repos :D

While testing with multispeaker dataset, i just discovered that `collate_fn` is not affected by hparams.parse_json in train.py, resulting in hparams changes NOT applied while creating batches
(This was checked by putting `print(hparams_debug_string())` in `collate_fn` and run training while applying different presets)

This has some consequen

[2018-05-14 12:37] engiecat commented on #63
So, this works when using ljspeech preset(as it is identical with `hparams.py`), but doesn't work well with other presets

[2018-05-14 13:16] rafaelvalle commented on #30
fyi, it's also possible to denormalize and normalize back again...

[2018-05-15 06:26] r9y9 commented on #57
Done. Slides: [20180514_WaveNetTTS_no_proprietary.pdf](https://github.com/r9y9/wavenet_vocoder/files/2003663/20180514_WaveNetTTS_no_proprietary.pdf)

[2018-05-15 06:26] #57 closed

[2018-05-15 19:27] nsmetanin commented on #61
Is there any room for improvement towards the Fast WaveNet? It seems that input_buffer already works just like "dilation queues" described in the Fast WaveNet paper — https://github.com/r9y9/wavenet_vocoder/blob/master/wavenet_vocoder/conv.py#L39

I've profiled the inference for 2048 samples and got the following output of cProfile:

![image](https://user-images.githubusercontent.com/764902/400788

[2018-05-15 22:49] engiecat commented on #63
i will also try to find out why :/ probably ProcessPoolExecutor works different in windows from linux.

[2018-05-16 01:37] PetrochukM opened #64 "µ=256 while Wavenet paper used µ=255"
The Wavenet paper set µ=255:

Source: https://arxiv.org/pdf/1609.03499.pdf

[2018-05-16 03:04] r9y9 commented on #61
Ah, you are right. What we do currently is pretty much of the same idea; caching the intermediate states. This was actually done quite a while ago. https://github.com/r9y9/deepvoice3_pytorch/commit/11a890375ce1f9e995fd31653f327e960b70e4c7

For the record, here's generation timing info:

| Env                                  | Time per samples (sec) |
|--------------------------------------|------

[2018-05-16 07:30] nsmetanin commented on #61
I hope that https://github.com/NVIDIA/nv-wavenet/ will be able to perform the inference in near real-time, when they publish python (PyTorch) bindings.

[2018-05-16 13:05] r9y9 commented on #61
Yes, I'm looking forward to it. I'm closing the issue for now.

[2018-05-16 13:09] #61 closed

[2018-05-16 13:13] #38 closed

[2018-05-16 13:14] r9y9 commented on #3
I'm closing this. Feel free to reopen if you have any further comments on this.

[2018-05-16 13:14] #3 closed

[2018-05-16 13:15] r9y9 commented on #12
Taoctron + WaveNet was done

[2018-05-16 13:15] #12 closed

[2018-05-16 20:47] PetrochukM opened #65 "Intelligible Audio"
Hi Everyone!

Training on LJSpeech with Mu-law, at around what step will the audio be more than noise?

At 5k steps it sounds like white noise:
![image](https://user-images.githubusercontent.com/7424737/40143216-b48b6df0-590f-11e8-8dd2-148f7696e08a.png)

Training with a batch size of 24.

Thanks!

[2018-05-17 05:13] PetrochukM commented on #65
Specifically, looks like ``save_sates`` with GTA sounds great at 10k steps but ``eval_model`` produces noise at 10k steps.

[2018-05-17 10:04] PetrochukM opened #67 "math.sqrt(0.5)"
Hey There!

The Wavenet paper never mentioned multiplying skip connections with ``math.sqrt(0.5)``. What is up with that?

https://github.com/r9y9/wavenet_vocoder/blob/1b571a78ea9e65867c09942ce952fa13e96f57de/wavenet_vocoder/wavenet.py#L224

[2018-05-17 10:15] PetrochukM opened #68 "Dummy Silence"
From my understanding, due to limited GPU memory, the code samples a slice of ``max_time_steps`` from the original audio. The slice does not always start at the beginning of the audio; therefore, it'd be a mistake to assume the last waveform amplitude was silence (127).

https://github.com/r9y9/wavenet_vocoder/blob/1b571a78ea9e65867c09942ce952fa13e96f57de/train.py#L503-L510

[2018-05-17 10:15] r9y9 commented on #67
https://github.com/pytorch/fairseq/blob/4973d05ac7651f46e1c7edc8060600b44baf9e71/fairseq/models/fconv.py#L157

It comes from Deep Voice 3 and https://arxiv.org/abs/1705.03122. The reason is that I wrote code based on https://github.com/r9y9/deepvoice3_pytorch.  Probably work without it.

Same for weight normalization: https://github.com/r9y9/wavenet_vocoder/blob/1b571a78ea9e65867c09942ce952fa13e96

[2018-05-17 10:29] PetrochukM commented on #67
Thank you!

Anything else to watch out for?

Working with the Tacotron 2 authors to reimplement their paper. This means, for example, I am not normalizing my spectrogram to [0, 1]. I did not apply any decibel clipping. Etc.

What else is different in your Wavenet from the original Wavenet? For example, the ReLU during upsampling that I mentioned earlier.

[2018-05-17 11:50] tomse-h commented on #28
Is Multi-GPU synthesis a thing? Only one of my GPU is used at a time, would love to see an increase in generation speed using multiple GPUs.

[2018-05-18 01:17] PetrochukM commented on #65
![image](https://user-images.githubusercontent.com/7424737/40211230-51f54ba8-59fe-11e8-9d27-a193b9675d4d.png)

Following my PRs, fixing µ, getting rid of ``math.sqrt()``, removing weight normalization, etc convergence has significantly increased on the LJ speech dataset, see below:

![image](https://user-images.githubusercontent.com/7424737/40211256-84bb6e78-59fe-11e8-8141-a1a025de5826.png)

[2018-05-18 05:27] r9y9 commented on #65
What does the each line mean? What's the difference between two figures?

[2018-05-18 05:30] r9y9 commented on #65
What about the evaluation quality? From my experience I had many cases that there are quality drop while loss decrease.

[2018-05-18 05:44] PetrochukM commented on #65
The first line was the default configuration with LJ speech Mu-Law. The second line, the learning rate was fixed to .001 and mu was set to 255. The third line, weight norm and math.sqrt was removed.

Until the third try, the results were white noise with eval

[2018-05-18 05:59] PetrochukM commented on #65
Hi!

Experiment 1 deviations from master repo:

+ 24000 Sample Rate
+ No normalization
+ No ``amp_to_db`` stuff
+ No rescaling
+ Batch size 24 (8 GPUs)
+ Mulaw-quantize, mu = 256

Results:

- ``eval_model``: White noise
- ``synthesis``: Did not run

Experiment 2 deviations from master repo:

+ Remove RELu
+ Fix learning rate
+ Remove ``exponential_moving_average``

Results:

- ``eval_model``: Whit

[2018-05-19 13:26] aleksas opened #75 "Finetuning trained model"
In reference to [recommendation](https://github.com/r9y9/wavenet_vocoder/issues/45#issuecomment-383313651) how should repeated training be executed for the second time?
Should checkpoint path point to checkppoints/checkpoint_step...._ema.pth or not **ema** checkpoint? And what does **ema** stands for?

[2018-05-19 14:43] r9y9 commented on #75
EMA means Exponential Moving Average (EMA). See details for Tacotron 2 paper: https://arxiv.org/abs/1712.05884. There's no clear answer which to use for finetuning, but I usually used EMA version of the checkpoint when I trained a model for sufficient time (e.g, over 2 days for MoL case).

I'll leave some commands I used for LJSpeech experiments which might help as follows:

- Finetuning trained m

[2018-05-19 21:01] aleksas commented on #75
Thanks! Will try to fine tune my model now.

[2018-05-19 21:01] #75 closed

[2018-05-22 03:15] toannhu commented on #12
@r9y9 Thanks. I succeed in training Rayhane-mamah's Tacotron 2 repo with my own corpus. Going to try out generate with your WaveNet Vocoder. I'm eager to hear the result. This makes me very exciting!

[2018-05-26 13:27] r9y9 opened #76 "CMU Arctic MuLaw samples are pitch shifted."
Pointed out by @rafaelvalle. This is a stupid bug...

[arctic_b0534_samples.zip](https://github.com/r9y9/wavenet_vocoder/files/2041633/arctic_b0534_samples.zip)

[2018-05-26 16:35] rafaelvalle commented on #76
Let us know once you find out what causes it!

[2018-05-27 10:03] toannhu commented on #12
@r9y9 I tried to intergrate Rayhane-mamah's Tacotron 2 with WaveNet Vocoder using your Google Colab's code but it failed. The pitch has been lost. Btw, I use `batch_size = 16` and `r=2` in Tacotron 2 and `batch_size = 1` in your repo. Wavenet Repo is training with original sound not with GTA. Here are the results.
[sound.zip](https://github.com/r9y9/wavenet_vocoder/files/2042470/sound.zip)

[2018-05-30 04:39] a3626a opened #77 "[train.py] Padding value inside batched samples is wrong, especially mulaw_quantize setting."
https://github.com/r9y9/wavenet_vocoder/blob/2b557d4cbacef52bc3441fc4f2c54b1351ae9df4/train.py#L420-L433

The code above pads to batched samples to fit their sequence length. When `is_mulaw_quantize(hparams.input_type) == True`, padding value seems wrong. In this code, `0` is always padded. I think valid padding is `P.mulaw_quantize(0, hparams.quantize_channels)`, not `0`. (P.mulaw_quantize(0, 256

[2018-05-30 13:16] aleksas opened #78 "Transfer learning with conditioning"
My scenario is following:
* Train model with 9 speakers
* Use trained model to fine-tune for other nine speakers with arbitrary number of utterances.

Can fine-tuning instruction as [indicated here](https://github.com/r9y9/wavenet_vocoder/issues/75#issuecomment-390409661) be used for scenario above? Or it doesn't make sense.

The reason I'm asking is that I'm trying this scenario, but losses conve

[2018-05-31 07:03] butterl opened #79 "Is it OK that the training loss kept around 5.8 when steps goes up to 250K？"
Hi , I used thchs30 dataset to train wavenet and the loss kept around 5.8 when steps goes up to 200K, I'm not sure if this is normal and if not， any suggestion to make the loss down？

The evaluation wav got may noise in it and if this wave a good one ? ( I think the wav different need to be less， but the below seem not fine)

![step000250000_waveplots](https://user-images.githubusercontent.com/306

[2018-05-31 08:05] begeekmyfriend commented on #79
I am afraid you need to wait until 800K steps https://github.com/r9y9/wavenet_vocoder/issues/41

[2018-05-31 12:59] butterl commented on #79
Any hparam suggestion？ I only changed the worker num and batch size to fit memory

[2018-06-05 06:34] r9y9 commented on #77
Sorry for the delay. I think you are right. Would you mind creating a PR?

[2018-06-05 07:20] a3626a commented on #77
Delay is okay.

I found this bug at https://github.com/Rayhane-mamah/Tacotron-2/issues/55, and I'm not even installed PyTorch in my environment. It is hard to create a PR for me.

[2018-06-05 08:03] r9y9 commented on #77
Ok, then I will fix it when I have some time. Thanks!

[2018-06-05 12:43] brebetez opened #80 "Special characters"
I'm just starting to use the project and I was on English until now. But my goal is to make a voice in German and/or french. Both languages contain some specifics characters (for example: à é è ä ö ü ç and more). Should I define a specific char chain? Or it will automatically working? I'm just asking, before to jump in a big session of training...for nothing. ;)

Thank you for your support.

[2018-06-05 12:59] r9y9 commented on #80
The WaveNet vocoder itself is language independent. In this repository, a model assumes that input is mel-spectrograms (can be any though) and output is raw waveforms. You can use the WaveNet vocoder for any language.

[2018-06-06 06:19] aleksas commented on #80
@brebetez Please see [THE LINKS](https://github.com/r9y9/wavenet_vocoder#online-tts-demo) on main page referencing example of using pretrained [Tacotron](https://github.com/Rayhane-mamah/Tacotron-2) and [Wavenet Vocoder](https://github.com/r9y9/wavenet_vocoder) models for text-to-speech evaluation. So essentially in this case there are two parts for TTS: [Tacotron](https://github.com/Rayhane-mamah

[2018-06-08 11:08] aleksas commented on #80
@r9y9 correct me if I'm wrong to properly train [Tacotron](https://github.com/Rayhane-mamah/Tacotron-2) `preprocess.py` and `train.py` have to be executed with same hparams that are used in [codelab synthesis example](https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb)  to synthesize Tacotron spectrograms for wavenet vocoder, i.e.

[2018-06-09 09:00] r9y9 commented on #80
@aleksas At training-time you need one more: `use_lws=True`. You would need to same audio related hparams. The commit https://github.com/r9y9/Tacotron-2/commit/be036e3d198c4ae2da4380986f5e303150d61a20 might help you what you need to adjust.

[2018-06-11 16:20] begeekmyfriend commented on #7
Here is another version for parallel https://github.com/andabi/parallel-wavenet-vocoder

[2018-06-12 12:17] brebetez commented on #80
@aleksas and @r9y9 thank you for the information. I will read it and have a look more in details. If I have futher question, I'll come back to you.

[2018-06-12 12:17] #80 closed

[2018-06-16 16:55] hrbigelow opened #82 "are these the same channel numbers in original paper?"
Hi,

Thanks so much for such a thorough implementation of WaveNet.  I just wondered, do your default hparams channel sizes reflect those used in the final version of the original paper?  I'm new to the field of AI (coming from Biology research) and am puzzled why the authors wouldn't provide a short paragraph listing all of their final hyperparameters, so others could attempt to reproduce their re

[2018-06-17 02:20] azraelkuan commented on #82
u can check ibab's wavenet, that is origin.

[2018-06-17 07:03] r9y9 commented on #82
As far as I remember correctly, they don't provide complete implementation details, Taco2 and Parallel WaveNet papers provide some details more than the original paper though. I'm not trying to replicate their papers *exactly*, trying same ideas instead.

[2018-06-18 22:06] rzcwade opened #83 "why use out_channels=10*3?"
Hi,

Thanks for the amazing work!  I am wondering why you set out_channels to 30 for the case that is not mu-law quantized. Could you give a little more details about "num_mixture * 3 (pi, mean, log_scale)"?

Thanks

[2018-06-19 01:31] glingyan opened #84 "is it possible to replace incremental dilated convolutions with convolution1D"
using incremental dilated convolutions  and the backend is sgemm, which could not get benefit from cpu optimization, is it possible to replace this code and running wavenet graph to do audio generation

[2018-06-20 02:20] glingyan commented on #84
why use output = F.linear(input.view(bsz, -1), weight, self.bias) instead of convolution in synthesis? where is the algorithm come from?

[2018-06-21 03:13] hrbigelow commented on #82
Hi Ryuichi,

Thanks for checking into it.  I did read ibab/tensorflow-wavenet, and he
mentions in the readme that they don't specify channel numbers in the
original paper.  Tacotron2 does mention they use 3 x 10 layer blocks, but
don't seem to mention channel numbers either.

In your experience, when you find a paper that doesn't give enough details,
do you have some technique for figuring out how

[2018-06-21 12:40] veqtor commented on #83
Yeah, 3 looks weird, some copy-pasta leftovers from PixelCNN++?

[2018-06-21 13:02] bryanjp3 commented on #83
It's a mixture distribution. Each component of the distribution is a logistic distribution with a mean, variance, and probability of being selected.

[2018-06-21 13:06] r9y9 commented on #83
A logistic distribution is parametrized by two parameters: location and scale. For the mixture case we need one more: mixture weight. So num_mixture * 3 (pi, mean, log_scale)" that’s it. I don’t see why you feel it’s weird...

[2018-06-21 13:50] r9y9 commented on #82
Trying to find out missing details is fun for me. I'm just trying a lot.

[2018-06-21 17:05] hrbigelow commented on #82
Cool!  Yeah, I understand.  By the way, are you the professor at Waseda?  I
have a friend at Ascent robotics doing machine learning and also I lived in
Tokyo last year for three months.

Cheers,

Henry

On Thu, Jun 21, 2018 at 6:50 AM Ryuichi Yamamoto <notifications@github.com>
wrote:

[2018-06-21 19:23] rzcwade commented on #83
Thanks for the repose. But how did you calculate training loss based on this output (with 30 channels) ? It seems to me that y (1 channel) and y_hat (30 channels) will have different dimension.

Thanks

[2018-06-22 02:07] r9y9 commented on #82
No. See https://www.linkedin.com/in/zryuichi/?locale=en_US about me.

[2018-06-22 15:31] rzcwade commented on #83
ah, I saw the implementation of discretized_mix_logistic_loss function. That cleared it out. Thanks again!

[2018-06-22 15:31] #83 closed

[2018-06-24 13:16] epinar opened #86 "Typo!"
https://github.com/r9y9/wavenet_vocoder/blob/1406c9d2f5a3cd86665801101a994a9b98a58a07/train.py#L643

[2018-06-24 13:37] #86 closed

[2018-06-24 13:37] r9y9 commented on #86
Thanks. Fixed.

[2018-06-25 04:26] deli666 opened #87 "About preprocess"
Hi,
I am confused how the training data is generated since the preprocess.py just uses importlib.
To be specific, whether the mel-spectrogram for training is synthesized by pretrained tacotron model or converted from the raw data? If it is generated from raw data, what algorithms do you use?
Best,

[2018-06-25 06:04] suntao2012 opened #88 "is this algorithm the same as nv-wavenet"
Is this repo algorithm the same as nv-wavenet? https://github.com/NVIDIA/nv-wavenet

[2018-06-25 06:15] deli666 commented on #87
I assumed that the input training data for this model should be Mels-audio pairs. And the Mels should be synthesized by pretrained tacotron model. However, when I trained your wavenet model, it generates mels and audio pair from LJSpeech dataset directly. Which way is better?

[2018-06-25 06:37] m-toman commented on #87
I'm on my phone so please excuse that I don't have the references here: the tacotron paper states that synthesized mels + recordings works better than extracted mels + recordings. This is reasonable as this is what the final system will see.
But in one of the issues here someone stated that with long enough training this wasn't really an issue.

I also fine-tuned the pre-trained models in r9y9s no

[2018-06-25 08:16] deli666 commented on #87
Thank you so much for reply!

[2018-06-25 08:16] deli666 commented on #87
Thank you so much for reply!
Best,

[2018-06-25 08:26] deli666 opened #89 "Loading pretrained model too slow"
I wanted to synthesize some sample audios with pretrained model, but the loading process takes a long time. Is that normal?
Btw, what is the difference between "checkpoint_step000100000.pth" and "checkpoint_step000100000_ema".pth

Many thanks

[2018-06-25 09:01] deli666 commented on #89
Besides, when loading prertained model, there is a prograss bar showing number of iterations/second. What is the meaning?

[2018-06-25 14:01] r9y9 commented on #88
I haven't looked into it yet but I guess there's something different in details.

[2018-06-25 22:44] suntao2012 commented on #88
OK. Because I have looked into the detail of NV-wavenet, it is an implementation of paper https://arxiv.org/abs/1702.07825,
So, could you please tell me which paper is this repo from?

[2018-06-26 03:24] orionpeng opened #90 "Only noise in eval mode"
Hi all,
I am training a wavenet model from scratch.
After 20K steps training,  I find a problem that the predicted audios from both test_eval and train_eval folders are just noises. However, the quality of the predicted audios generated from ground truth Mel-Spectrum is quite good.
Any suggestions?
Thx

[2018-06-26 07:11] #89 closed

[2018-06-26 07:34] #90 closed

[2018-06-26 07:35] orionpeng commented on #90
Maybe the training time is not enough, I will wait for more time to see the results.

[2018-06-26 15:03] r9y9 commented on #90
From my experience, MoL WaveNet takes over 1000k training steps to produce good quality of speech.

[2018-06-27 05:53] orionpeng commented on #90
@r9y9 Yes, thx for your comment.
After 60k training steps, I can hear some speech-like voice from the predicted audios.

[2018-06-28 03:27] suntao2012 opened #91 "does it support FP16 during training or inference?"
I thought this repo used FP32 to do training, right? because I ran the training and found the GEMM kernel parameter is float.
So, does it support half precision, if does, how do I enable that?

[2018-06-29 12:52] r9y9 commented on #88
https://github.com/r9y9/wavenet_vocoder#references

[2018-06-29 12:53] r9y9 commented on #91
Unfortunately, no.

[2018-07-01 15:58] tuan3w commented on #67
Hi @r9y9 ,
Currently, I'm not able to access to my GPU to test my hypothesis but I think we should discuss about this number. As I understand, the target of this multiplication is to keep output has same variance as its inputs [[1](http://cs231n.github.io/neural-networks-2/)] [[2](https://arxiv.org/pdf/1706.03762.pdf)]. As from your [code](https://github.com/r9y9/wavenet_vocoder/blob/master/wavene

[2018-07-02 11:43] bfs18 commented on #7
I implemented a parallel wavenet based on nsynth and got some positive results. The generated wave is noisy but intelligible. I am still working on it.
https://github.com/bfs18/nsynth_wavenet/blob/master/tests/pred_data-pwn-failed_cases/gen_LJ001-0001-stft_abs.wav

[2018-07-05 02:29] sunnnnnnnny opened #92 "Hello, if I want to use your pre-trained wavenet model, what are the specific requirements for the mel spectrogram dimension generated by speech synthesis?"

[2018-07-05 08:07] gsoul commented on #92
Please kindly see this notebook from the README file of this repo: https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb

After you are able to run it, you should be also able to find answers to your questions.

[2018-07-05 08:12] sunnnnnnnny commented on #92
i see it.thank u.

[2018-07-05 11:01] epinar opened #93 "About generation and input&output types"
Hey, thank you for your code, it is very helpful to understand how the model works. I am implementing the wavenet on my own from scratch and have some questions:

- I give scalar inputs to the model, and quantized targets to find out the cross entropy loss. Then in generation, i decode the output by mulaw into scalar value in range [-1,1], expand the generation audio and refeed into model for next

[2018-07-05 16:57] epinar commented on #93
For second question: Yeah i did not get why you choose a random sample instead of the one with maximum value, which has the highest probability.

First question: Even though I do standard trimming on LJspeech dataset, I might need to check again. Otherwise, probably i have an implementation error..

[2018-07-06 03:12] #92 closed

[2018-07-07 04:47] r9y9 commented on #93
We want to sample from a generative model.  Choosing a sample with the highest probability makes more sense in classification tasks.

https://deepmind.com/blog/wavenet-generative-model-raw-audio/

[2018-07-07 18:52] zhang-jian commented on #7
Updated Parallel Wavenet paper http://proceedings.mlr.press/v80/oord18a/oord18a.pdf

[2018-07-07 21:13] atreyas313 commented on #86
Hi,
thank for publishing wavenet vocoder, I am working on tacotron2 (https://github.com/Rayhane-mamah/Tacotron-2).

I trained network using "python train.py --model='Both' " then tried to synthesis from checkpoints using "python synthesize.py --model='Tacotron-2' " and happen this error:
DataLossError (see above for traceback): file is too short to be an sstable
[[Node: model_1/save/RestoreV2 = Re

[2018-07-09 12:10] 742617000027 opened #95 "Error when cmu_arctic.py tries to import function 'is_raws' from util.py"
In the preprocessing step, cmu_arctic.py tries to import the function 'is_raws' from wavenet_vocoder/util.py — in util.py, the function in question is called 'is_raw', so an error occurs due to the difference in name.

cmu_arctic.py:
`from wavenet_vocoder.util import is_mulaw_quantize, is_mulaw, is_raws`

util.py
`def is_raw(s):
    _assert_valid_input_type(s)
    return s == "raw`

[2018-07-09 13:29] #95 closed

[2018-07-09 13:29] r9y9 commented on #95
Thanks. That's my fault. Fixed.

[2018-07-15 23:29] nmstoker commented on #86
@atreyas313 - it looks like the issue you describe has no obvious connection with this (closed) issue, so if it's still a problem for you, you should probably open a fresh issue for it. Broadly an issue should be for a single bug/enhancement/request

https://hackernoon.com/45-github-issues-dos-and-donts-dfec9ab4b612

[2018-07-16 14:38] epinar commented on #93
Oh i see, you are randomly sampling from the distribution, not directly getting the result with the maximum value. Thanks!

[2018-07-16 14:38] #93 closed

[2018-07-17 02:07] #84 closed

[2018-07-18 07:24] zhangjh915 opened #96 "Training with GTA output from Tecotron I."
I am currently trying to use the predicted mel conditions from tacotron I to train the WaveNet but got strange results. The loss dropped dramatically from 6-ish to 1e-3 in a hundred steps and kept really small to approximately 1e-8 after that. The sounds generated were just noise.

I simply rescaled the predicted mel conditions to [0,1] and cut the end of the audio tensors to make sure their lengt

[2018-07-20 10:09] sunnnnnnnny opened #97 "Thank you for your open source, I noticed that 20180510_mixture_lj_checkpoint_step000320000_ema.json frame_shift_ms=0 in this file, why should I set this up?"
Hope to receive your reply.

[2018-07-20 10:11] r9y9 commented on #97
Answer: https://github.com/r9y9/wavenet_vocoder/blob/4b438ce9cefda398bd2c1074b8a07f771b44549c/hparams.py#L34-L36

[2018-07-20 10:11] #97 closed

[2018-07-20 10:34] sunnnnnnnny opened #98 "Thank you for your open source, I noticed that 20180510_mixture_lj_checkpoint_step000320000_ema.json frame_shift_ms=0 in this file, why should I set this up?"
Hope to receive your reply.thank you .

[2018-07-20 10:35] r9y9 commented on #98
#97

[2018-07-20 10:36] #98 closed

[2018-07-20 10:38] r9y9 commented on #98
Please do not create duplicate issues.

[2018-07-26 09:50] dsilva-tbox opened #99 "Dimensions in the model do not correspond to dimensions in the size"
After training the speech synthesiser for 100k epochs, I can't get it to synthesise due to this dimensions error. Could you help me with it please? Thanks in advance!

Using TensorFlow backend.
Command line args:
 {'--conditional': '/data/Daniel/Speech_synthesis/wavenet_vocoder_orig/cmu_arctic/cmu_arctic-mel-00001.npy',
 '--file-name-suffix': '',
 '--help': False,
 '--hparams': '',
 '--initial-val

[2018-07-26 15:45] dsilva-tbox opened #100 "Unsuccessful Input texts to be synthesized"
Hello, After training 300k on Tacatron and 120k on wavelets I tried to synthesise a specific sentence. However, though the sentence is long ('Hello. My name...'), I get an audio file with no content at all. Has anyone experienced the same

![screen shot 2018-07-26 at 16 41 05](https://user-images.githubusercontent.com/37179504/43272824-cf1ee6e0-90f2-11e8-8035-e809085e547b.png)

[2018-07-29 11:39] youssefsharief opened #101 "ModuleNotFoundError: No module named 'wavenet_vocoder.version'"
Thank you for the awesome job

I am getting this error

for the following command:

What I currently did is I added a file called version.py in the wavenet_vocoder folder and I added the following line

`__version__ = 1.0`

is that fine?

[2018-07-29 12:19] r9y9 commented on #101
https://github.com/r9y9/wavenet_vocoder#installation Please follow the installation guide. version.py should be generated during installation time. https://github.com/r9y9/wavenet_vocoder/blob/4b438ce9cefda398bd2c1074b8a07f771b44549c/setup.py#L26-L38

[2018-07-30 07:20] youssefsharief commented on #101
Thank you so much @r9y9 . Amazing job.

[2018-07-30 07:20] #101 closed

[2018-08-01 01:36] vijaysumaravi opened #102 "Synthesis for LJ Speech Model"
When I run the code just for synthesis using the model I downloaded from the link provided, I get the following error:

Traceback (most recent call last):
  File "synthesis.py", line 204, in <module>
    waveform = wavegen(model, length, c=c, g=speaker_id, initial_value=initial_value, fast=True)
  File "synthesis.py", line 128, in wavegen
    log_scale_min=hparams.log_scale_min)
  File "/home/vija

[2018-08-01 01:44] r9y9 commented on #102
I think this should be m1: [1 x 80], m2: [80 x 512]. So try swapping your mel-spectrogram?

[2018-08-01 02:10] vijaysumaravi commented on #102
When I do that I get this:

Traceback (most recent call last):
  File "synthesis.py", line 205, in <module>
    waveform = wavegen(model, length, c=c, g=speaker_id, initial_value=initial_value, fast=True)
  File "synthesis.py", line 131, in wavegen
    log_scale_min=hparams.log_scale_min)
  File "/home/vijay/speech_tts/wavenet_vocoder/wavenet_vocoder/wavenet.py", line 304, in incremental_forward

[2018-08-01 03:02] r9y9 commented on #102
Not sure where you inserted swapping but this is what I have locally:

[code]

and

[code]

it works for me.

[2018-08-01 04:55] NewEricWang opened #103 "Failed to train WaveNet model"
Hi, all
When I train wavenet model with default parameter, I get the following error:
Local conditioning enabled. Shape of a sample: (461, 80).
[train]: length of the dataset is 11618
Local conditioning enabled. Shape of a sample: (372, 80).
[test]: length of the dataset is 537
Receptive field (samples / ms): 505 / 22.90249433106576
TensorBoard event log path: log/run-test2018-08-01_10:41:31.72340

[2018-08-01 19:40] vijaysumaravi commented on #102
Thank you so much! That worked! I was swapping the spectrogram after passing it to the synthesis function. When I pass the swapped numpy file, it works fine.

I am now able to generate the .wav file but when I listen to it, it is nothing but silence! Any idea why this could be happening?

[2018-08-01 21:07] vijaysumaravi commented on #102
This is the command line output.

python synthesis.py --preset=models/20180510_mixture_lj_checkpoint_step000320000_ema.json --conditional=../singletaco/spectrogram.npy models/20180510_mixture_lj_checkpoint_step000320000_ema.pth generate/
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*arg

[2018-08-02 13:58] blacksph3re commented on #102
I had the same problem in the setup and I found that the spectograms from tacotron aren't normalized. Try normalizing them, for me it worked fine then

[2018-08-02 14:07] r9y9 commented on #102
Well, then https://github.com/NVIDIA/tacotron2/issues/40, https://github.com/NVIDIA/tacotron2/issues/24, https://github.com/NVIDIA/tacotron2/issues/52 might help.

[2018-08-02 21:57] vijaysumaravi commented on #102
Thank you so much! It is now working.

[2018-08-02 21:57] #102 closed

[2018-08-06 02:14] r9y9 commented on #7
https://github.com/azraelkuan/parallel_wavenet_vocoder

Nice fork :+1:

[2018-08-08 08:40] d2sys commented on #75
Anyone can share the minimum number of iterations which is enough for fine-tuning?

[2018-08-09 18:43] hrbigelow opened #104 "Is it possible to learn mel upsampling separately from Wavenet training?"
wavenet_vocoder does local conditioning using the Mel spectrograms, which are only calculated every 256 time steps, so it uses learned [transposed convolutions](https://github.com/r9y9/wavenet_vocoder/blob/7c87267f2c53d2dd54cdb35157607a50053a7f69/wavenet_vocoder/wavenet.py#L155-L168) in order to upsample.  It learns the upsampling parameters at the same time it is learning all other parameters.

I

[2018-08-10 22:06] siminchai commented on #49
@YanHengxu  Hi there, may I ask how did you solve the '"filename 'storages' not found"' issue? I met the same problem.

Thanks!!

[2018-08-14 14:31] xfwu commented on #14
Really don't understand why it is needed to change logistic's pdf to cdf (which is sigmoid)... can't it be estimated directly by using pdf?

[2018-08-14 16:03] xfwu opened #105 "why has to change to discretisized loss function?"
Really don't understand why it is needed to change logistic's pdf to cdf (which is sigmoid)... can't it be estimated directly by using logistic's pdf?

[2018-08-14 23:50] engiecat opened #106 "Recent versions works in save_states (audio), but white noise in fast eval_model(train_eval)"
Hello.

I am currently experiencing very  strange behaviors after updating from https://github.com/r9y9/wavenet_vocoder/commit/2b557d4cbacef52bc3441fc4f2c54b1351ae9df4 to current https://github.com/r9y9/wavenet_vocoder/commit/7c87267f2c53d2dd54cdb35157607a50053a7f69
while training multispeaker version of the wavenet. (didn't try single speaker yet)

### Symptoms ###
A. While samples generated with

[2018-08-15 08:33] NewEricWang commented on #103
If I use python2 to run the script, it's ok!
I found an error is report when synthesis.py finished by python3; But no error is report by python2.
The error information is:
Error in `/restools/tools/miniconda/miniconda3/bin/python': corrupted size vs. prev_size: 0x000055b2bcb5c690 ***

How can I solve it?

[2018-08-17 05:07] Yeongtae opened #107 "is this right link of the pretrained model 1000k?"
@r9y9
![image](https://user-images.githubusercontent.com/13597229/44248472-a9bc9c00-a225-11e8-8994-a9559e555d35.png)
Using above link, I could get bellow pretrained model.
![image](https://user-images.githubusercontent.com/13597229/44256096-0ed2ba80-a243-11e8-85fb-b3ce314ae4be.png)
- It seems to be not 100K.

I have run synthesize.py using the pretrained model at the above image.
But I could get a

[2018-08-17 15:10] r9y9 commented on #107
Have you checked https://github.com/r9y9/wavenet_vocoder#online-tts-demo? Let me know if it doesn't work.

[2018-08-17 15:12] r9y9 commented on #107
This is because I trained the model multiple times from step 0. Approx 300k * 4 > 1000k..

[2018-08-17 15:14] Rayhane-mamah commented on #107
Hello, pardon me intruding here :)

@Yeongtae you don't seem to be rescaling T2 output mels to [0, 1] @r9y9's demo shows how to do that correctly. I'm out of here :)

[2018-08-18 04:07] r9y9 commented on #106
Thank you for the detailed report. Very helpful as always! I would like to investigate it too, but currently I have a lot of things to do (off topic though, I'm moving to South Korea from Japan next month). I will look into it once I get a chance.

[2018-08-20 02:03] r9y9 commented on #107
I'm closing this. Feel free to reopen if the problem persists.

[2018-08-20 02:03] #107 closed

[2018-08-24 00:16] skyw commented on #19
I'm also having trouble generating good sound, even with sample_rate=16000.

My cmd line is:
python synthesis.py 20180212_mixture_multispeaker_cmu_arctic_checkpoint_step000740000_ema.pth ./ --conditional=cmu_arctic-mel-00001.npy --preset=20180212_multispeaker_cmu_arctic_mixture.json --symmetric-mels --speaker-id 5 --hparams="sample_rate=16000"

Am I doing the right thing?

[2018-08-24 00:30] skyw opened #108 "Unable to generate good sound with pretrained model"
I downloaded 20180212_mixture_multispeaker_cmu_arctic_checkpoint_step000740000_ema.pth

And tried to synthesis with cmd line
python synthesis.py 20180212_mixture_multispeaker_cmu_arctic_checkpoint_step000740000_ema.pth ./ --preset=20180212_multispeaker_cmu_arctic_mixture.json --speaker-id 1 --hparams="sample_rate=16000" --conditional=cmu_arctic/cmu_arctic-mel-00001.npy

The sound quality is way wo

[2018-08-24 02:13] r9y9 commented on #108
I think it's correct. Guess two things:

- Did you run `git checkout b1a1076`?
- With that specific commit and the hyper parameters, did you rerun the preprocessing?

[2018-08-24 04:36] skyw commented on #108
I didn't.
Checking out the right commit seems to fix it. I thought it was fine to use latest code as it doesn't pop any error. thanks.

[2018-08-24 04:36] #108 closed

[2018-08-27 06:57] engiecat commented on #106
I will also look at the issue when I get some time :)

(off topic - South Korea is really nice in September! (especially mountains and fields are exquisite) )

[2018-08-28 17:50] jiamingkong opened #109 "Training using the Mel spec output from tacotron 1"
Hi, I have successfully trained the tacotron 1 model from https://github.com/keithito/tacotron. I am trying to train a wavenet vocoder that uses tacotron1's mel output to generate waveform.

So from my understanding that the tacotron 1 used the fft_size = 2048.
from [the hparam here](https://github.com/keithito/tacotron/blob/master/hparams.py).

It says the num_freq = 1025, and the n_fft that is b

[2018-09-01 10:16] jiamingkong commented on #109
I am closing the issue here. The parameter was set to 2048 and it worked flawlessly. Thank you!

[2018-09-01 10:16] #109 closed

[2018-09-05 08:05] PengjuYan commented on #7
As for @npuichigo 's question about sampling multiple `x_t` from the student distribution, I don't think there's any difference between the two processes. According to (3) from the paper, the student distribution depends only on, and can be determined only by, the noise distribution and the total scale/shift `s_i`/`mu_i`. We know that both `s_i` and `mu_i` can be got by forwarding the normalizing

[2018-09-06 09:44] PengjuYan commented on #7
@xuerq I'm wondering how you train the IAF model if you use a non-differentiable categorical distribution (w.r.t. `x_t`)?

![screen shot 2018-09-06 at 17 44 06](https://user-images.githubusercontent.com/13349414/45149581-7ce41f00-b1fc-11e8-9a84-a82ef5490725.png)

[2018-09-08 11:31] icewwn opened #110 "Good Work, trained with LJSpeech and 23 hours,"
Amazing work, trained with LJSpeech on 1070 Ti in 23 hours,
I got the good synthesized samples on ground truth

Above is recordings,
Below is synthesized by synthesis.py with ground truth.
Sound good except end noise on silence segment.

![samples](https://user-images.githubusercontent.com/2451339/45253670-953f6f80-b39d-11e8-8d59-56af428f73dd.png)

[2018-09-08 11:35] #110 closed

[2018-09-09 09:35] r9y9 commented on #110
Hi, thanks. I think you just need to be patient. From my experience, it usually requires more than 1000k steps (~2 weeks on a single 1080Ti) to get noise-less high-quality synthetic speech.

[2018-09-11 13:41] wenyong-h opened #111 "why not use greedy decoding?"
Similar issues: #93 #3  .
In most supervised sequence to sequence task, e.g Neural machine translation, we use greedy decoding or beam search to find the most likely output sequence.
It's weird to use a sampling based decoding here, as we have the risk to sample a bad (low probability) wav sequence.
Since at training time we are maximizing the probability of the target wav sequence, at inference t

[2018-09-11 13:47] wenyong-h commented on #111
As for the Deepmind blog post mentioning decoding based on sampling , https://deepmind.com/blog/wavenet-generative-model-raw-audio/.
I think they are describing the unconditional version of wavenet, sampling is reasonable in unconditional case.

[2018-09-13 07:52] peter05010402 opened #112 "which mode to generate spectrograms file in Tacotron2?"
@r9y9 Thank  you for sharing PR!
which mode to generate  spectrograms file in Tacotron2?  As "--conditional=<p>" in Wavenet_vocoder.

![1111111](https://user-images.githubusercontent.com/42974031/45474725-0cde1780-b76d-11e8-84f1-cb42a7305ab7.JPG)

[2018-09-13 15:37] peter05010402 commented on #112
I got it

[2018-09-13 15:37] #112 closed

[2018-09-13 15:38] peter05010402 opened #113 "How speed up the Wavenet synthesis？"
Hello @r9y9 ，
I found the size of raw wav file can influence the restore PR speed .
if the raw size is more than 600k, the synthesis time cost 1.5hours.
Could give some suggestion to improve it?

[2018-09-14 09:03] hcwu1993 commented on #113
WaveNet synthesis is sample by sample, time cost is times of raw size. you can the paper parallel wavenet, it can speed up.

[2018-09-14 10:07] peter05010402 commented on #113
@hcwu1993 Thank  you for reply!
When synthesis is being, the GPU memory is only used 1271MB, but the full memory is 16GB
![99999](https://user-images.githubusercontent.com/42974031/45544059-dc6bab80-b848-11e8-8e37-e1b14d0600dd.JPG)

if WaveNet use more GPU memory , Maybe less time cost?

[2018-09-17 06:45] littleTwelve opened #114 "Why need to expand global conditioning features to all time steps?"
Now, I want to reference the implement of global conditioning in your code to edit my wavenet code in order to implement multi-speakers. But after reading your code, I am still confused about what is the main idea of global conditioning?
Let me show you how I think of it and please point out where I am wrong or give me some suggestions or guidance.
For instance, I have a data set containing 100 tr

[2018-09-19 09:16] UESTCgan opened #115 "How low can the loss be?"
I train it on the data of Ljspeech. After trained over 600k, the loss decrease slowly. I want to know how low can the loss be.

![image](https://user-images.githubusercontent.com/40649244/45743472-ac4c5000-bc2e-11e8-999b-39289955b061.png)

@r9y9 How much is the loss of your mode  (20180510_mixture_lj_checkpoint_step000320000_ema.pth) ?

[2018-09-19 09:18] UESTCgan commented on #79
I train it on the data of Ljspeech. After trained over 600k, the loss decrease slowly. I want to know how low can the loss be.
![image](https://user-images.githubusercontent.com/40649244/45744011-ff72d280-bc2f-11e8-873f-1e688ecd25c9.png)

[2018-09-19 09:19] UESTCgan commented on #115
@begeekmyfriend

[2018-09-20 01:40] begeekmyfriend commented on #115
Roughly speaking it depends on your corpus... As for me, it is roughly 5.5.

[2018-09-20 01:52] UESTCgan commented on #115
@begeekmyfriend Ok，I understand.Thanks for your reply. I know the extent of loss.I find that much of our work is the same as yours. Looking forward to more communication with you.Thanks again !

[2018-09-20 02:04] hcwu1993 commented on #113
@peter05010402 That's a good idea. Maybe you can see the nvidia implementation, nv-wavenet.

[2018-09-20 06:36] littleTwelve commented on #114
Can someone help me figure out the question?

[2018-09-21 02:06] hrbigelow opened #116 "possible to mimic new voices without full training?"
The way WaveNet is set up, different speakers in the training dataset are identified by an ID, and WaveNet learns an embedding for the ID and then uses this as a global condition.  This means a trained WaveNet model is only capable of synthesizing from one of these voices.  Is there any way to enable WaveNet to mimic a totally new voice, without first collecting data and from that voice and traini

[2018-09-26 11:32] alexdemartos commented on #116
Have a look at this:

https://arxiv.org/abs/1806.04558

[2018-09-28 10:44] jiqizaisikao commented on #111
Yes,i have the same doubts as you,but the peak of the distribution is always sharp,Therefore, there are usually no serious problems.But i think that we should choose the center value of the peak as the ouput.

[2018-09-29 05:39] geneing commented on #111
For a single gaussian as output distribution (for parallel_wavenet_encoder) I've tried greedy decoding for synthesis. Resulting sound is much lower quality than using sampling from the gaussian distribution. It makes no sense!

[2018-09-29 08:27] r9y9 opened #117 "Tacotron2 : TTS demo is not working anymore due to the tensorflow version upgrade"
It seems there's no clean way to downgrade tensorflow on google colab, so we might need to update https://github.com/r9y9/Tacotron-2 to make it run on the latest tensorflow.

[2018-09-30 09:44] m-toman commented on #117
Actually for me adding
! pip install "tensorflow<=1.9.0"
worked

[2018-10-08 03:38] sunnnnnnnny commented on #114
@littleTwelve  Why is the shape from [100,2000]change as [100,256,2000]  after mu_law encoding?

[2018-10-08 06:16] sunnnnnnnny commented on #114
@littleTwelve Does mu_law encoding change the shape of the input batch?

[2018-10-08 07:45] peter05010402 opened #119 "How to control bit rate of generated wav"

[2018-10-12 09:11] tomse-h commented on #113
Did anyone figure out, how to make the inference use more GPU memory yet? If so, did it speed up the process?

[2018-10-12 13:03] r9y9 commented on #113
I'm not sure why you expect inference speedup by just increasing GPU memory usage. Generating multiple utterances at once could improve time per utterance though.

[2018-10-12 13:16] r9y9 commented on #119
Please file out more information.

[2018-10-12 13:16] #119 closed

[2018-10-12 15:04] everange-ustc opened #120 "Is there a good pretrained model for presets cmu_arctic_8bit.json?"

[2018-10-12 17:31] SatyamK23 opened #121 "Unable to run Tacotron Model in Google Colab"
[code]

How to resolve this issue? I am  running `Tacotron2 and Wavenet text to speech` in Google Colab.
Is the output directory intentionally missing? How to give path to checkpoints?

[2018-10-13 06:47] r9y9 commented on #121
Thank you for the report. It should be fixed now by https://github.com/r9y9/Colaboratory/commit/012c2318d8c12ea9e9d6c2d30c7b1375ed006b22.

[2018-10-13 06:47] #121 closed

[2018-10-16 09:57] zshy1205 opened #122 "some question with Tacotron2: WN-based text-to-speech"
In your [https://r9y9.github.io/wavenet_vocoder/](https://r9y9.github.io/wavenet_vocoder/)。
you said you trained Tacotron2 (mel-spectrogram prediction part): trained 189k steps on LJSpeech dataset (Pre-trained model, Hyper params). The work has been done by @Rayhane-mamah. See https://github.com/Rayhane-mamah/Tacotron-2 for details.
But when I load the pre_trained_tacotron_model. I find that error

[2018-10-16 14:20] #77 closed

[2018-10-25 17:46] ramilrg opened #124 "non-english data"
hi,
is it possible to train a non-English data?

[2018-10-26 06:13] r9y9 commented on #124
Yes. WaveNet vocoder itself is not language dependent.

[2018-10-26 06:13] #124 closed

[2018-10-28 18:26] ramilrg opened #125 "synthesize from text"
Hi,
is it possible/available to synthesize voice from directly text input or it is available in another your project  [https://github.com/r9y9/deepvoice3_pytorch](url) ?

Thanks

[2018-10-29 01:49] r9y9 commented on #125
https://github.com/r9y9/wavenet_vocoder#pre-trained-models

Please read the REAEME.

[2018-10-29 01:49] #125 closed

[2018-10-29 17:40] yhgon commented on #117
If you want to use GPU in mel generation in COLAB, eliminate current tensorflow 1.12r0x and re-install `tensorflow-gpu==1.9.0`  However, it requires to install exactly matching  CUDA libraries. so below script you could  some CUDA libraries which COLAB didn't included such as cublas-9.0

before git clone the files run below script. it take 10 minutes to prepare jupyter each time.  It's temporal so

[2018-10-30 06:41] sunnnnnnnny commented on #97
@r9y9 In this case, can I think that frame_shift_ms is useless?then，frame shift=256，What is the length of the frame length?

[2018-10-31 01:27] sunnnnnnnny opened #126 "In this case, can I think that frame_shift_ms is useless?then，frame shift=256，What is the length of the frame length?"

[2018-10-31 08:35] jseplae opened #127 "mu-law encoded data: ValueError: [(128, -128), (0, 0)] cannot contain negative values."
Hi,

I'm not sure if this is a bug (likely something on my side), but given the same json used for both pre-processing and training, I get this padding issue.

 '--checkpoint-dir': 'checkpoints',
 '--data-root': 'xxx',
 '--help': False,
 '--hparams': '',
 '--log-event-path': None,
 '--preset': 'presets/xxx.json',
 '--reset-optimizer': False,
 '--restore-parts': None,
 '--speaker-id': None}
Hyperpa

[2018-10-31 08:43] r9y9 commented on #127
Thanks for the report. There's small bug in #123. I have a fix locally and try to push it later today.

[2018-10-31 08:45] #126 closed

[2018-10-31 09:00] jseplae commented on #127
Thanks for the quick response. I will test again after the fix.

[2018-10-31 13:50] jseplae commented on #127
Awesome. Thanks!

[2018-10-31 14:18] KonstantinosMarko opened #128 "Help on importing the output of tacotron2 to wavenet"
Thank you for your code and documentation.

I have a problem, when using the output of nvidia's tacotron 2 to your wavenet.
I want to use the mel-spectra produced  by nvidia's tacotron into your wavenet in order to train the wavenet with these data.

I use the file attached, in order to produce the spectra, but when i use them as input to the wavenet an assertion error occures in train.py line: 35

[2018-11-01 09:34] hxs7709 opened #129 "Can not reproduce the good effect as shown in the pretrained 20180510_mixture_lj_checkpoint_step000320000_ema.pth"
hello, all:

I can not reproduce the good effect as shown in the pretrained 20180510_mixture_lj_checkpoint_step000320000_ema.pth. Please help to review and give me clue about it. Thank you very much.

From the following link, the pretrained Tact2 (189.5k steps) and wavenet (320k steps)  model can synthesis good audio.  https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron

[2018-11-01 09:39] jseplae commented on #106
I believe I'm experiencing something similiar (PyTorch 0.4.1) as described here. The results in the "audio" folder seem OK, but "test_eval" and "train_eval" both contain garbage at 60k steps.

[2018-11-01 09:46] hxs7709 commented on #129
I train to get wavenet model with following settings.
It is expected to get the similar effect as the pretrained 20180510_mixture_lj_checkpoint_step000320000_ema.pth. But it does not happen even the models is from 510k training steps in my training.
Please help to show any clue or suggestion for further research.
Anyway, I will continue to train for more than 100k steps, and then check the result.

[2018-11-01 12:11] r9y9 commented on #106
garbage at 60k should be fine. Results in "audio" should always better because it uses teacher-forcing, while train_eval/test_eval uses sampling.

[2018-11-01 13:55] r9y9 commented on #129
Please see https://github.com/r9y9/wavenet_vocoder/commit/47064d58275af2e46a4efdab3121b7a835af9003.

[2018-11-02 07:35] hxs7709 commented on #129
Thank you very much for your great work and quick answer.
I will check the related suggestion in issues and continue to train for more than 100k steps and evaluate it.

PS:
The 320000 in the model name "20180510_mixture_lj_checkpoint_step000320000_ema.pth" misguide me. Actually the pretrain-ed model is trained for more than 1000k steps in total.

[2018-11-15 13:17] echoaimaomao opened #130 "Bug in PartialyRandomizedSimilarTimeLengthSampler(Sampler) ??"
I think class PartialyRandomizedSimilarTimeLengthSampler(Sampler) is used to generate shuffled indices. However, I had found that the code "random.shuffle(indices[s:e])" do not shuffle the values in indices correctly. Many repeat values existed. I had no idea about it. However, if I  changed the indices type from tensor to numpy, and then changed the type from numpy back to tensor after  the indic

[2018-11-15 13:21] mazzzystar opened #131 "About the causal padding method."
Hi r9y9, thanks for your work !
In your code:
https://github.com/r9y9/wavenet_vocoder/blob/f5a35bc1706a01490f59495d9e08245fab9b4de8/wavenet_vocoder/modules.py#L93-L107
It seems you use `padding` from the `Conv1d` for causal padding, but the default padding method of that is to `pad both left and right`, then in your code:
https://github.com/r9y9/wavenet_vocoder/blob/f5a35bc1706a01490f59495d9e08245

[2018-11-19 08:41] hxs7709 commented on #7
Can anybody share a synthesised wav and the commands of training from para wavenet, such as this tree https://github.com/azraelkuan/parallel_wavenet_vocoder?
In my test with Chinese, the wav from student model (trained for more than 1000k steps) is still very bad (the wav from teacher model is already good ), and I cannot see any improvement after 170k steps.
Thank you.

[2018-11-19 10:19] miaoYuanyuan commented on #8
hi, i  am doing the same thing as you ,could i know which chinese dataset that you choosed to train ?

[2018-11-19 10:57] azraelkuan commented on #8
@miaoYuanyuan i use my own dataset, but now u can use the public chinese dataset
https://mp.weixin.qq.com/s/FnYMw7_FcJcd66kw5Hc0Ag

[2018-11-20 01:15] miaoYuanyuan commented on #8
@azraelkuan wow,that's great ,thank you~

[2018-11-20 07:21] hxs7709 commented on #129
The synthesized wav on 970k step is already natural and with little flaw (refer to attached below), so close this issue. Thank you.
[wavenet_vocoder_1024branch_r9y9_ljspeech--970k.zip](https://github.com/r9y9/wavenet_vocoder/files/2598512/wavenet_vocoder_1024branch_r9y9_ljspeech--970k.zip)

[2018-11-20 07:21] #129 closed

[2018-11-21 14:07] jseplae opened #132 "Regarding resuming from checkpoint"
I've resorted to posting a question here (for advice, I guess) as I'm noticing a considerable increase in train loss variance *sometimes* after resuming from a checkpoint:

![resume-1](https://user-images.githubusercontent.com/3680606/48845904-62a2f180-eda6-11e8-96cd-d63ffd07d935.png)

This is a mixture/raw-input -model using ema decay, and no lr decay, with a large dataset consisting of small aud

[2018-11-22 20:09] geneing commented on #132
@jseplae Are you saving and restoring optimizer state? My guess from your description is that the optimizer switched to smaller step size before you saved the state. When you restarted, the optimizer restarted with the original (large?) step size. The solution is to save optimizer state too.

[2018-11-23 10:01] jseplae commented on #132
Hi, and thanks for the comment. The default is to save the optimizer state, which was done here. But something is obviously different with the second resumption (light blue). I have since went back to normal non-chunked files, and noticed that for my data, an initial lr of 10^-4 looks better without schedule. The reason I'm not using the original noam decay is because I have in the order of 10 tim

[2018-12-10 02:10] sunnnnnnnny opened #133 "about max abs value"
how to set max_abs_value?

[2018-12-10 16:18] fatchord commented on #113
@r9y9 Batched inference works quite well with WaveRNN - only a small drop in sound quality - I see no reason why it wouldn't work for Wavenet. You can expect around a 10x or more speedup and it's pretty easy to implement. https://github.com/fatchord/WaveRNN/issues/9#issuecomment-444935577

[2018-12-11 02:22] r9y9 commented on #113
@fatchord Thanks for letting me know.  Yes, I think that would work for WaveNet as well. 10x or more speedup is pretty nice:)

[2018-12-17 00:38] MlWoo commented on #7
I have implemented the clarinet vocoder which is parallel wavenet of Gaussian output . [My results](https://twitter.com/menglin_wu/status/1074408876030783488) is free of noise in silence area in a nutshell. Howerver, you could see the slight noise at start that shows it seems like a slow-to-warm-up network. I am figuring out what happend at start of the wav.

[2018-12-17 01:53] MlWoo commented on #7
This is my result. ![](https://pbs.twimg.com/media/DukRKUIXQAAMeAI.jpg:large)

[2018-12-21 12:42] dukanov commented on #7
@MlWoo could you provide samples to listen?

[2018-12-22 03:11] MlWoo commented on #7
@dukanov ISorry to tell you that the model is trained only with Chinese mandarin. Results of English will be available in next week.

[2018-12-23 02:36] MlWoo commented on #7
@dukanov Here is a [sample](https://twitter.com/menglin_wu/status/1076666568954822657) which comes from a early-stage clarinet vocoder model only trained 90k steps with 2 batch size.

[2018-12-23 09:00] SatyamK23 opened #136 "Conditioning on Acosutic features"
As given in the experiment section of  paper `Wavenet : Generative model for raw audio`, they have carried out conditioning on linguistic feature, acoustic feature (pitch frequency, F0). They haven't used any  local or global conditioning for multi-speaker identification experiment.
What happens to generated voice, if  local conditioning is carried out only on speaker id and acoustic feature , lea

[2018-12-24 04:57] r9y9 commented on #136
https://r9y9.github.io/wavenet_vocoder/

This is probably what you want.

[2018-12-25 09:44] dukanov commented on #7
@MlWoo great! thanks!

Does presented low noise appears in the following training steps?

[2018-12-25 12:15] MlWoo commented on #7
@dukanov  Talking is cheep, show [my sound.](https://twitter.com/menglin_wu/status/1077537730186207232)

[2018-12-25 20:30] rishikksh20 opened #137 "Noisy voice generated when audio dataset have variable amplitude."
I have trained wavenet for a long time but the audio generated is too noisy (there is constant low-frequency noise). It strange because I have trained it in 5 different datasets before but no problem but my current dataset have the problem. don't know the exact reason but I felt that it is due to high variation in amplitude of audios, in my current dataset some audios have high amplitude and some

[2019-01-23 22:23] realtimecrime opened #138 "Possible to produce good quality unconditional speech?"
Hi,
many thanks for this great project.
I am trying to reproduce unconditional speech samples. Is it possible to achieve good sound quality (comparable to the samples provided by google's wavenet) without conditioning on mel spectrograms with this code? I am training a model without local and global conditioning right now, but so far (160k steps) it only produces noise.

[2019-01-27 05:21] Yudonggeun opened #139 "mac, pip install lws error"
I tried 'pip install lws' with mac. but error

[code]

[2019-01-27 06:34] r9y9 commented on #139
Please report to https://github.com/Jonathan-LeRoux/lws.

[2019-01-27 06:34] #139 closed

[2019-01-28 05:56] r9y9 commented on #138
Not sure if it helps, but you can find some samples at https://github.com/r9y9/wavenet_vocoder/issues/1#issuecomment-354586299.

[2019-02-01 15:13] duvtedudug commented on #96
My solution was to feed Wavenet preprocessed real specs in as ground truth. This way the Taco generated GTA mel specs are the right length for Wavenet.

[2019-02-01 15:23] duvtedudug opened #140 "Reduce background noise to match Google quality?"
While quality is good on a highly trained models for RayhaneTaco + r9y9WaveNet combo. I'm finding background hiss/noise performance has plateaued even with further training.

Any methods to try to get this down to Google quality?

Does moving to Ground-truth-aligned Mel specs help this?

[2019-02-05 01:34] henrycornish opened #141 "WaveNet as a Virtual instrument"
Hi Guys,

I'm currently working to adapt this project to work as a virtual instrument using
midi vectors as local conditioning as outlined here:
https://arxiv.org/abs/1806.09905
https://arxiv.org/abs/1810.12247

I'm using Solo Cello recordings from the musicNet dataset
and have written a pre-processing script to generate the conditioning vectors.

I have run into a couple issues getting the wavene

[2019-02-15 09:43] AghilasSini commented on #137
Hi @rishikksh20,

I think that have the same issue.
I have trained wavenet_vocoder for more than  660k (iterations), but still, have a noisy voice.
For me, I don't know if  it's due to the amplitude effect or  to the downsampling effect because I downsample my data from 44.1khz to 22.05khz
- Here is an example (https://soundcloud.com/aghilas-sini/checkpoint-step000660000)

[2019-03-11 05:10] ebadawy opened #142 "constant output when using truncated version of wavenet"
The original implementation of wavenet using 24 number of layers is working perfectly when using the provided trained model.

However, when I try to use a smaller version of wavenet (e.g. `hparams.layers = 4` ) and load the corresponding weights for it from the pre-trained model, I get a constant output ( always 1 ). any idea why that might be happing and if there is a fix for it?

[edit]

By look

[2019-03-11 15:56] r9y9 commented on #142
Are you trying to change the number of layers of a pre-trained model? That doesn't seem right since the WaveNet was trained to minimize negative log lilkelihood which is defined using the output of the *last* layer. The output of each layer is supposed to have a different range.

[2019-03-11 21:37] ebadawy commented on #142
I was trying to change the number of conv layers in the conv_layers ModuleList. so the first and last conv layers are the same. However, it seems that it is not working. What I am trying to do is to measure the wavenet performance using a different number of conv layers/ number of filters. The best way to do it is to re-train the model using these new hyperparameters. However, I am trying to see i

[2019-03-12 01:11] r9y9 commented on #142
That's expected. The only way to do that is to re-train the model with the new hyperparameters.

[2019-03-25 13:53] auspicious3000 opened #143 "Does not converge under pytorch 1.0 and the latest dependencies"
On and before **Feb 9, 2019**, the pytorch version is already 1.0.0

What I did:

virtualenv -p python3 vocoder
cd vocoder && . bin/activate
git clone https://github.com/r9y9/wavenet_vocoder && cd wavenet_vocoder
pip install -e ".[train]"
python train.py --data-root=vctk16-spe-f0s --preset=presets/vctk16_sptk_mixture.json --checkpoint-dir=spe_ckpts/

It is conditioned on spectral envelope and f0s,

[2019-03-25 16:14] r9y9 commented on #143
Hi, thank you for raising the issue and detailed investigation. I think this is the same issue as https://github.com/pytorch/pytorch/issues/14960, https://github.com/ksw0306/FloWaveNet/issues/13 and https://github.com/pytorch/pytorch/issues/15716. For now I would recommend you to stick to pytorch 0.4.1, or use single GPU for training. Luckily, the code should run both on pytorch 1.0.0 and 0.4.1 wi

[2019-03-25 16:19] r9y9 commented on #143
[code]

That may help you to check if the grad is actually NaN or not.

[2019-03-25 16:20] auspicious3000 commented on #143
@r9y9 Thanks for your fast response!
I have switched to 0.4.1 for now, but it is 50% slower than 1.0.0.
It still puzzles me why it worked well with 1.0.0 before Feb 9.

[2019-03-26 00:37] auspicious3000 commented on #143
@r9y9
grad_norm is always 0.0 for all steps.

**However**, I configured the wavenet_vocoder with **pytorch 1.0** in an old python3 virtualenv created last year. That machine has ubuntu16.04 with 4 1080 Ti gpus cards.
This time, it converges under pytorch 1.0. The grad_norm is well above 0.
So, I guess it is not the problem of pytorch 1.0 alone?

[2019-04-10 16:38] soumimaiti opened #144 "pretrained ljspeech model are all 13100 files used in training?"
Hi,

I wanted to know if all LJspeech files are used for training the pretrained ljspeech model?

I want to fine-tune the model, so I wanted to use the same training files for the fine-tuning.

[2019-04-11 01:34] r9y9 commented on #144
https://github.com/r9y9/wavenet_vocoder/blob/44e0e361bc02b3e20eb1db4fc5c1c8c04ba01da2/presets/ljspeech_mixture.json#L42

https://github.com/r9y9/wavenet_vocoder/blob/44e0e361bc02b3e20eb1db4fc5c1c8c04ba01da2/train.py#L113-L121

Roughly 4.4% of data was excluded for training.

[2019-04-11 01:34] #144 closed

[2019-04-13 12:00] popo0293 opened #145 "Tacotron-2 synthesis.py cannot synthesize text"
My work around is to downgrade numpy to 1.14.0 and then it works fine. (May not be the best solution.)
Maybe update dependency?

wavenet training requires numpy 1.16.0
but after one gets the trained model, a lower version is required (because of recent update?)

If you cannot reproduce this error in your online demo, it may already be fixed by the dependent packages' authors.

[2019-04-15 06:47] Eurus-Holmes opened #146 "ValueError: operands could not be broadcast together with shapes (1,513) (0,)"
When running [Online TTS demo](https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb) on colab,

ValueError: operands could not be broadcast together with shapes (1,513) (0,)

<img width="868" alt="屏幕快照 2019-04-15 下午2 44 53" src="https://user-images.githubusercontent.com/34226570/56112266-16429300-5f8d-11e9-9665-84eccd7525e2.png">

[2019-04-16 08:29] jybaek commented on #146
it's a library bug. try to use the librosa version `0.6.2` or higher.

[2019-04-16 09:15] Eurus-Holmes commented on #146
@jybaek Thanks for your reply! But the ValueError occurred after running

[code]

and...how can I update the librosa version on colab...

[2019-04-16 09:54] jybaek commented on #146
[code]

and your `ValueError` is must be open a new issue. more detail.

[2019-04-16 10:11] Eurus-Holmes opened #147 "ValueError: operands could not be broadcast together with shapes (1,513) (0,)"
When I run [Online TTS demo](https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb) on colab,
in the section `Mel-spectrogram prediction by Tacoron2`
afterI running this code:

[code]

the ValueError occurred:

[code]

[2019-04-16 10:13] Eurus-Holmes commented on #146
@jybaek hi, thanks for your help, I have updated the librosa version.
And, I have also opened a new issue for more details.

[2019-04-16 10:13] #146 closed

[2019-04-17 00:31] r9y9 commented on #147
Did you follow a suggession by https://github.com/r9y9/wavenet_vocoder/issues/146#issuecomment-483563931?

[2019-04-17 00:49] r9y9 commented on #147
See also https://github.com/librosa/librosa/issues/826. I don't think this is a bug of our code.

[2019-04-17 02:17] r9y9 commented on #147
I will fix the notebook to avoid the error. Once I have a fix, I will close this issue.

[2019-04-17 03:01] Eurus-Holmes commented on #147
@r9y9 hi, thanks for your help! I have fixed this error after update the librosa version to 0.6.2,
[Tacotron2 and WaveNet  text-to-speech demo.ipynb](https://colab.research.google.com/drive/1opGd1dPbAbTtghH_b3aF7ujfKdVMBCPE)

[2019-04-17 04:54] r9y9 commented on #147
Fixed by https://github.com/r9y9/Colaboratory/commit/d83d15bd87bbe1b6fbecab302cb7b60b3294dc6e

[2019-04-17 04:54] #147 closed

[2019-04-17 04:56] r9y9 commented on #145
Ideally, it should work on numpy 1.16.0 too. I tentatively fixed the demo notebook to use numpy < 1.16 because that was the easiest fix for me (see https://github.com/r9y9/Colaboratory/commit/d83d15bd87bbe1b6fbecab302cb7b60b3294dc6e). If you have another fix, I am happy to accept that as a PR.

[2019-04-17 05:20] Eurus-Holmes commented on #147
@r9y9 Thanks for your work!

[2019-04-17 12:48] vitaly-zdanevich opened #148 "Please add to README: how many seconds in takes to render a WAV from a particular sentence"
And for comparison please provide a time without CUDA (CPU only).

[2019-04-19 09:13] MorganCZY opened #149 "preprocess: errors when "import lws""
![image](https://user-images.githubusercontent.com/33675916/56417253-e3b6d400-62c5-11e9-8468-c0c08039e3e8.png)
I've installed lws when doing "pip install -e ".[train]"". However, the module "lws" cannot be imported with errors shown in above picture. How can I fix this error?

[2019-04-19 11:52] GloomyGhost-MosquitoCoil commented on #149
这个是由你的py环境里的重复引用包引起的，可能你的环境里有2个不同版本的包（比如numpy）导致了引用错误，pip list检查一下

This is caused by a duplicate reference package in your py environment. There may be two different versions of the package (such as numpy) in your environment that cause a reference error. Check the pip list.

これはあなたのpy環境で重複した参照パッケージが原因です。 ご使用の環境には、参照エラーを引き起こす2つの異なるバージョンのパッケージ（numpyなど）があります。 ピップリストを確認してください。

[2019-04-20 01:53] r9y9 commented on #149
Seems like this is not a problem of our code. Please file an issue at https://github.com/Jonathan-LeRoux/lws.

[2019-04-20 06:31] MorganCZY commented on #149
![piplist](https://user-images.githubusercontent.com/33675916/56453682-96476f00-6378-11e9-802d-f172c862c0e3.png)
Here are the details after "pip list". I didn't get a duplicate reference package.

[2019-04-20 06:40] r9y9 commented on #149
See also https://stackoverflow.com/questions/36190757/numpy-undefined-symbol-pyfpe-jbuf

[2019-04-20 11:10] GloomyGhost-MosquitoCoil commented on #149
This is also the case today. My solution is
[code]
Plz do`pip uninstall numpy` Twice

[2019-04-20 11:12] GloomyGhost-MosquitoCoil commented on #149
For some reason, pip seems to only show the latest packages, not all

[2019-04-21 09:01] #143 closed

[2019-04-21 09:03] r9y9 commented on #143
Sorry for the late reply. I have added a workaround (https://github.com/r9y9/wavenet_vocoder/commit/6b9c932fdb2e53e406cfe460d700868891a9efb0) to fix multi-GPU training on pytorch >= 1.0.0. I hope this will fix your problem. Please feel free to reopen if the issue persists.

[2019-04-22 07:51] Shridharpawar77 commented on #39
I am also facing same problem. Did anyone solved the problem?

[2019-04-22 08:59] Shridharpawar77 commented on #125
Hi r9y9,
I am trying to provide mel-spectrograms obtained from decoders of deepvoice3 as input to wavenet vocoder in synthesis.py  but I am not getting good results. Is there any preprocessing  required to generate good results.

[2019-04-22 21:38] 1ytic commented on #143
I managed to train the FloWaveNet in multi-GPU regime using [Apex](https://github.com/NVIDIA/apex) utilities. Probably, it's suitable for wavenet_vocoder too. Here is my PR https://github.com/ksw0306/FloWaveNet/pull/22

[2019-04-23 02:51] MorganCZY commented on #149
Thank you all. My issue has been fixed. I did have some duplicate reference packages. But I just reinstalled lws in version 1.0 to replace version 1.3, then it works.

[2019-04-23 02:51] #149 closed

[2019-04-27 05:19] jinfagang commented on #148
Agreed

[2019-04-27 10:00] wangdory opened #150 "Training error"
Hi, an error occurred during training conditioned on mel-spectrogram.
My system is an IBM powerAI with a tesla v100 gpu.
The following are the software version I used.
 CUDA = 10.0
tensorflow = v1.12.0
python 3.6
pytroch = 1.0.0

The command input are
 python train.py --data-root=./data/BZNSYP/ --speaker-id=0 -- hparams="cin_channels=80,gin_channels=-1"

The error message I got are as follows:
###

[2019-04-29 11:31] ishansan38 opened #151 "How can speed be adjusted of a new if trained on a pre trained model?"
Is it possible to adjust to 'original' speed of a new voice without breaking it if using pre-trained model such as LJ Speech?

[2019-05-05 09:39] Rajdeep97 commented on #113
Can someone please explain, it takes us up to 20 mins to synthesize one line(Google Colab GPU) . How can Google do it in milliseconds?

[2019-05-07 11:10] r9y9 commented on #130
I had a chance to look into it and am seeing a weird behavior for the shuffle operations.

This is why fetchord write a sampler like this: https://github.com/fatchord/WaveRNN/blob/3cd8c93920197759d6ee9315381f30d9733f71ad/utils/dataset.py#L197-L198. It is indeed very similar to my sampler. Thank you very much for raising the issue. I will update the code accordingly.

[2019-05-07 11:53] #130 closed

[2019-05-07 12:00] r9y9 commented on #130
Sorry to be super late, @echoaimaomao, but thank you very much! I added an assertion to make sure we no longer have the same bug, but feel free to reopen if you still see the problem.

side note: I originally wrote the sampler for training end-to-end models (e.g. Tacotron, Deep Voice3) where the batch size and masking loss matter a lot. Perhaps we can safely remove the sampler for WaveNet, but I w

[2019-05-08 02:19] zctang opened #152 "Cannot Load Checkpoint when using pretrained model for cmu_arctic"
Hi all:

I cannot load checkpoint as picture shown below:
![Uploading image.png…]()

what's the problem for me?

Thank you.

[2019-05-08 02:21] zctang commented on #152
![image](https://user-images.githubusercontent.com/50061822/57344751-06c4fd00-717b-11e9-90b3-0bb3fc25dfc7.png)

[2019-05-08 03:08] echoaimaomao commented on #130
Thank you very much for sharing your code. It does benefit my work during my Phd.  You are the sunshine~~~☺

[2019-05-08 03:26] Interfish opened #153 "About the exact iteration number of LJSpeech pretrained model"
Hi all:

I download pretrained model 20180510_mixture_lj_checkpoint_step000320000_ema.pth. As it's name suggested, it is trained 320k steps. I tried synthesising audios from it, and the quality is very good.

Then I  train my own model on LJSpeech using the same preset as the author's. It is now running over 620k but there are little noise in the background. Here is my log:
![image](https://user-i

[2019-05-08 09:05] zctang commented on #108
@skyw  Hi, skyw did you generate good sound with pretrained model after you run git checkout b1a1076 and rerun the preprocessing? I also unable to generate good sound. thank you

[2019-05-08 09:51] zctang commented on #19
@r9y9 could you explain how to match mel-spectrogram with speaker ID ?  each speaker ID have its specific mel-spectrogram?

[2019-05-08 10:10] r9y9 commented on #19
@zctang See train.txt in your preprocessed data directory. It should contain speaker ID in the last column. See also https://github.com/r9y9/wavenet_vocoder/blob/e8f10ddf8c4fdaee8820c99b67f774bd68181d36/cmu_arctic.py#L126

[2019-05-08 10:19] r9y9 commented on #153
Sorry for the confusion, but the name doesn't suggest the model was trained for 320k steps in total. I had noted for this before:

Ref: https://github.com/r9y9/wavenet_vocoder/issues/129

I initially thought the notice was enough for the explanation but it seems not true as I got the same issue twice. I will update the filename of the pretrained model to avoid the confusion.

[2019-05-20 03:52] zctang commented on #9
@r9y9
Hi Ryuichi
                Thanks for your amazing work. After I read your readme.txt, I have a couple of questions.
                1. you introduce us 3 training ways: un-conditional wavenet, conditional wavenet on mel-spectrogram, conditional wavenet on mel-spectrogram and speaker embedding. so I wonder when you train your pre-trained model for multi-speaker wavenet(cmu_arctic data), whic

[2019-05-20 08:21] r9y9 commented on #9
@zctang I'm not sure if I understand you correctly. For the conditioning settings, you can find what I used at https://r9y9.github.io/wavenet_vocoder/.

2: 7 speakers were available when I run the experiments (http://festvox.org/cmu_arctic/cmu_arctic/). You can use 18 speakers if you want.

[2019-05-21 10:09] zctang commented on #9
@r9y9  Thanks, I understood the first question.However, for the second question, if I want use your code and also use 18 speakers, should I also need to fix the code from nnmnkwii? Because I saw the cmu_arctic.py in it.
![image](https://user-images.githubusercontent.com/50061822/58087632-8202c600-7bf3-11e9-99ca-78a11cf76b76.png)

[2019-05-26 06:27] angeloh opened #154 "Speed up waveform generation on inference"
On the Google Colab example https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/Tacotron2_and_WaveNet_text_to_speech_demo.ipynb, it took a long time to synthesize those short sentences. How to speed up during the inference so it can be used to generate audio from text end to end within a reasonable timeframe?

[2019-05-26 07:07] geneing commented on #154
@angeloh Depending on hardware you are going to use, look for papers on WaveGlow or WaveRNN as vocoders. Tacotron is fast enough for generating Mel spectrogram.

[2019-05-27 00:38] angeloh commented on #154
@geneing Do you know about long sentences inferences? Do you think Tacotron2 is able to work with more than 1000 characters for generating Mel Spectrogram?

[2019-05-27 03:59] geneing commented on #154
@angeloh Autoregressive attention tends to have alignment problems with longer sentences. Recent fastspeech paper has a good discussion and a claimed solution.

[2019-05-28 04:50] #154 closed

[2019-05-29 14:01] r9y9 commented on #150
As the error message saying, please report a bug to PyTorch.

[2019-05-29 14:01] #150 closed

[2019-05-29 14:03] r9y9 commented on #148
I hope someone could do this by PR. I'm closing this out as this is not a crutial issue.

[2019-05-29 14:03] #148 closed

[2019-05-29 14:04] #142 closed

[2019-05-29 14:08] r9y9 commented on #152
Sorry but it's hard to say anything with the provided information.

[2019-05-29 14:08] #152 closed

[2019-05-29 14:09] #145 closed

[2019-05-29 14:11] r9y9 commented on #133
Not sure what you mean. Closing as insufficient information.

[2019-05-29 14:11] #133 closed

[2019-05-29 14:12] r9y9 commented on #120
No, and not planned. You can train it yourself if you want.

[2019-05-29 14:12] #120 closed

[2019-05-29 14:13] #115 closed

[2019-05-30 04:57] r9y9 commented on #140
This is actually one of the things that I am trying to fix but not yet getting a clear solution.

[2019-05-30 07:37] #24 closed

[2019-06-04 06:46] markyouyuren opened #155 "IndexError: index 1886 is out of bounds for axis 0 with size 1846"
I'm exploring nnmnkwii for singing synthesis.However, I encountered a problem that I could not solve by myself. I would like to ask for your help.My questions are as follows:
         In acoustic feature extraction,the Acoustic linguistic feature dim is (1899, 11349),when the Acoustic feature dim is (1846, 187),This problem caused errors in the training of acoustic models.Error message:
![image](h

[2019-06-04 06:58] r9y9 commented on #155
Dup of https://github.com/r9y9/nnmnkwii_gallery/issues/9

[2019-06-04 06:58] #155 closed

[2019-06-06 01:28] #65 closed

[2019-06-06 01:28] #78 closed

[2019-06-06 01:28] #82 closed

[2019-06-06 01:28] #87 closed

[2019-06-06 01:28] #91 closed

[2019-06-06 01:28] #67 closed

[2019-06-06 01:28] #88 closed

[2019-06-06 01:28] #99 closed

[2019-06-06 01:28] #100 closed

[2019-06-06 01:28] #104 closed

[2019-06-06 01:28] #49 closed

[2019-06-06 01:28] #14 closed

[2019-06-06 01:28] #105 closed

[2019-06-06 01:28] #103 closed

[2019-06-06 01:28] #79 closed

[2019-06-06 01:28] #116 closed

[2019-06-06 01:28] #114 closed

[2019-06-06 01:28] #13 closed

[2019-06-06 01:28] #128 closed

[2019-06-06 01:28] #106 closed

[2019-06-06 01:28] #131 closed

[2019-06-06 01:28] #132 closed

[2019-06-06 01:28] #138 closed

[2019-06-06 01:28] #96 closed

[2019-06-06 01:28] #137 closed

[2019-06-06 02:28] #11 closed

[2019-06-06 02:28] #35 closed

[2019-06-06 02:28] #32 closed

[2019-06-06 02:28] #40 closed

[2019-06-06 02:28] #44 closed

[2019-06-06 02:28] #47 closed

[2019-06-06 02:28] #42 closed

[2019-06-06 02:28] #56 closed

[2019-06-06 02:28] #43 closed

[2019-06-06 02:28] #59 closed

[2019-06-06 02:28] #18 closed

[2019-06-06 02:28] #52 closed

[2019-06-06 02:28] #30 closed

[2019-06-06 02:28] #62 closed

[2019-06-06 02:28] #63 closed

[2019-06-06 02:28] #68 closed

[2019-06-06 02:28] #28 closed

[2019-06-07 12:21] xbsdsongnan opened #156 "Training issues"
CUDA=9.0
tensorflow=1.7.1
pytroch=1.1.0
python=3.6

python3 train.py --data-root=./data/cmu_arctic/ --preset=presets/cmu_arctic_8bit.json --hparams="cin_channels=-1,gin_channels=-1"

python3  train.py --data-root=./data/cmu_arctic/ --speaker-id=0 --hparams="cin_channels=80,gin_channels=-1"

Receptive field (samples / ms): 505 / 22.90249433106576
TensorBoard event log path: log/run-test2019-06-07_2

[2019-06-07 12:39] #156 closed

[2019-06-21 03:33] r9y9 opened #157 "Gaussian WaveNet"
Currently, only the MoL is supported for parametric output distribution, but Gaussian output should be pretty easy to implement. I will make some time to support Gaussian perhaps this weekend.

[2019-06-21 03:36] r9y9 commented on #7
I'm afraid that I won't support parallel wavenet. https://github.com/ksw0306/ClariNet might be a good start to play with parallel wavenet if anyone interested.

[2019-06-21 03:36] #7 closed

[2019-06-21 23:34] rishikksh20 commented on #157
Sounds great

[2019-06-22 14:55] nkcdy opened #158 "about the sampling rate or data rate"
I have a wave file with 256kbps(16bits16khz).  I converted wave file into Mel spectrogram by change the sampling rate parameter in hparams. py file.  but when I convert the mel spectrogran back to wavefile, I got a wavefile with 512kbps datarate.  the quality of the generated wavefile is quite high.  the model I used is a pre-trained model provided by other project.

[2019-06-23 18:50] SergeiNarozhnyi commented on #113
Second @Rajdeep97 for desired explanation :)

[2019-06-26 00:24] TheButlah opened #159 "Fixing broken dependencies (lws, bandmat) on macOS 10.14"
Hello,

I wanted to put this here as some friendly help for anyone else running into this issue on macOS 10.14. Initially, I was unable to get this code to work as installing `lws` as well as `bandmat` was not working.

I was able to solve the issue by compiling `bandmat` manually, as well as `lws`. However, `lws` was initially unable to compile as it appears to be broken on newer installs of Xcod

[2019-06-28 02:30] TheButlah commented on #111
Wouldn't the ideal distribution be multimodal? Hence we don't want to greedily take the argmax of the probabilities, we want to sample instead.

I agree however that merely sampling the probabilities gives a chance of getting some low quality outputs. Here is an idea for how to do that, let me know what you think:

**Goal**: threshold the probabilities to only accept samples above some predetermin

[2019-06-28 09:45] #39 closed

[2019-07-03 17:12] alexiej commented on #159
Hi, I still got an error when I try to install `nnmnkwii` required for this package. ` Running setup.py install for bandmat ... error`, but I installed from the source:
`
git clone git://github.com/MattShannon/bandmat.git
python setup.py build_ext --inplace
`
finished correct, and the library works fine, but still, the pip installation for `nnmnkwii` try to download them from the internet.
@TheBut

[2019-07-03 17:38] alexiej commented on #159
I finally found a working workaround. Below instructions for who like I spend hours to figure it out.

1. Clone lws

[code]
2. Replace line 41 in the file `python/setup.py` with the above code

[code]

3. compile lws

[code]

4. clone bandmat

[code]

5. Create distribution and install bandmat

[code]

6. Try install `nnmnkwii`

[code]
If everything works fine you can install `wavenet_vocoder`

[c

[2019-07-05 07:17] r9y9 opened #160 "README: add list of papers that used the repository"
List (more will be added soon):

- [x] 2018: WaveGlow: A Flow-based Generative Network for Speech Synthesis https://arxiv.org/abs/1811.00002
- [x] 2019: WaveCycleGAN2: Time-domain Neural Post-filter for Speech Waveform Generation https://arxiv.org/abs/1904.02892
- [x] 2019: Parametric Resynthesis with neural vocoders https://arxiv.org/abs/1906.06762

[2019-07-06 08:33] r9y9 commented on #159
I'm working on fixing the dependency problem. 1) I will remove lws dependency from the repo and use librosa instead. 2) I will make bandmat requirement optional for nnmnkwii (https://github.com/r9y9/nnmnkwii/pull/88).

Ref: https://github.com/r9y9/deepvoice3_pytorch/issues/154, https://github.com/MattShannon/bandmat/issues/10

[2019-07-06 09:18] r9y9 commented on #159
bandmat dependency is fixed now by https://github.com/r9y9/nnmnkwii/pull/88. I will work on lws part afterwards.

[2019-07-06 09:21] r9y9 commented on #159
By the way, my workaround for new osx versions is https://github.com/SeanNaren/warp-ctc/issues/129#issuecomment-502349652.

[2019-07-08 17:02] TheButlah commented on #159
I've spoken with the LWS author and he has updated the code so that the pip package works now. I have tested it on the latest lws version, 1.2.3

[2019-07-08 17:02] #159 closed

[2019-07-09 18:23] TheButlah commented on #111
OK after learning about mixture models, I've realized that none of the above is necessary as long as you are using the Mixture of Logistics (MoL) version of WaveNet rather than the softmax one, which is active by default as long as the input type is not `"mulaw-quantize"`. With `out_channels = 10 * 3`, this is equivalent to the output distribution being a mixture of ten logsitic distributions, whe

[2019-07-18 09:42] Ala2dz commented on #28
on GTX 1080Ti it does 27.33it/s

[2019-07-18 09:46] Ala2dz opened #161 "Run a demo server"
Would it be possible to run a demo server based on a checkpoint ? as show in [HERE](https://github.com/keithito/tacotron#using-a-pre-trained-model)

[2019-07-22 07:27] tiblop opened #162 "emotional voice"
Is is possible to have emotional voice modulation with you system?
( angry , lamenting, joyful )

Thank you

[2019-07-31 08:37] terryyizhong commented on #158
same question

[2019-08-03 14:56] nkcdy commented on #158
the generated wave is 16khz 32bits so the datarate is 512kbps.

[2019-08-03 14:56] #158 closed

[2019-08-04 15:03] #141 closed

[2019-08-04 15:03] #151 closed

[2019-08-05 06:07] #140 closed

[2019-08-17 07:13] harirawat commented on #46
@gudwns1215 did you generate ljspeech-mel-00001.npy by again pre-processing the LJSpeech dataset?

[2019-08-17 07:26] harirawat commented on #19
@skyw did you pre-process the CMU dataset to generate cmu_arctic-mel-00001.npy even when you are using the pre-trained model?

[2019-08-21 08:09] byuns9334 opened #163 ""quantize_channels" parameter in JSON file"
Thanks for the great work!

If I use the 25-bit audio samples for training data, should I set "quantize_channels" parameter as 2^15=33554432? if not, how can I set this parameter?

[2019-08-22 11:16] japita-se commented on #117
somebody get working the google colab notebook?

[2019-08-22 12:47] japita-se commented on #113
Does anybody know how to speedup synthesis? It takes 40 seconds on my laptop with Geoforce GTX 950M

[2019-08-22 13:38] r9y9 commented on #117
Didn't it work?

[2019-08-22 13:39] r9y9 commented on #117
btw I'm unlikely to have time to do this for a while... pretty busy recently.

[2019-08-22 13:42] r9y9 commented on #113
Several ways:

- Implement parallel wavenet or similar (https://github.com/ksw0306/ClariNet will be a good start though the speech quality is not convincing IMO)
- Generate multiple utterances at the same time (batch generation)

For the latter one, I'm going to support it soon (I have it locally). Should be addressed when I work for #157.

[2019-08-25 17:14] r9y9 commented on #163
I guess you might want to learn how parallel wavenet deals with the problem. See sec. 2.1 of https://arxiv.org/abs/1711.10433 for details.

In short: we can consider using an explicit parametrized distribution to model raw audio.

[2019-08-25 17:14] #163 closed

[2019-08-26 15:09] r9y9 commented on #157
Finally, I pushed the code in #164 https://github.com/r9y9/wavenet_vocoder/commit/57a39ee5deb029ec636cadb17cbbff6a6f60f5f0. I will do tests next.

[2019-09-04 01:52] r9y9 commented on #162
No, it's out of scope.

[2019-09-04 01:52] #162 closed

[2019-09-10 15:01] #157 closed

[2019-09-10 15:01] #64 closed

[2019-09-10 15:01] #160 closed

[2019-09-14 19:09] #111 closed

[2019-09-21 02:18] james20141606 opened #165 "train.txt in train.py"
Hey, great work on vocoder! I tried your repo to train a model by myself and I found a mistake in https://github.com/r9y9/wavenet_vocoder/blob/cd2abdfd221c350e9d94184a454213ec55eae440/train.py
If I did not generate a train.txt using preprocess.py. I think I will go through the if condition in:
[code]
however, it still needs meta in the following:
[code]
I am not sure if you should add an else cond

[2019-09-22 14:46] r9y9 commented on #165
I'm not sure if I understand you correctly. train.txt should be generated if you use preprocess.py. As you can see in the first snippet you put in the description, there's a return expression right after the `if not` condition, so `else` branch shouldn't be needed. What are you trying to do?

[2019-09-22 15:04] james20141606 commented on #165
Thanks for the reply! I mean if I did not use preprocess.py but use my own preprocess programs, I won't have any train.txt file. Then in collect_files function, should the program only execute the if not part? However in your program, if I didnot have the train.txt part, I think the program will continue to run including `with open(meta, "rb") as f:` which will generate an error.

[2019-09-22 15:13] r9y9 commented on #165
If you want to use your own preprocess script, please do the same as preprocess.py and create the train.txt file. Or train.py doesn't work at all.

The case we don't have train.txt is for just *inference* time. e.g., using tacotron or similar to use generate mel-spectrograms, and feed them to the wavenet vocoder to generate waveforms.

[2019-09-23 10:02] #161 closed

[2019-09-24 02:45] james20141606 commented on #165
Thank you for your reply! I fixed that problem and I have another problem: I found you hard code two phases for train data: "train_no_dev", "dev". Could you explain the difference between the data? Thank you very much!

[2019-09-24 06:08] r9y9 commented on #165
- train_no_dev: training set
- dev: validation set

[2019-09-24 14:53] james20141606 commented on #165
Thanks for the clarification! So should I prepare two train.txt including their corresponding filenames in each dir for training and validation? Or should I prepare only one train.txt file including all the filenames like this?
[code]

[2019-09-24 15:23] r9y9 commented on #165
You need to create train.txt for each directory. Please refer the one of examples in the repo https://github.com/r9y9/wavenet_vocoder/tree/master/egs.

[code]

https://github.com/r9y9/wavenet_vocoder#getting-started

[2019-09-24 16:53] james20141606 commented on #165
thanks again!
I have another problem about assert_ready_for_upsampling in collate_fn(batch) function. In your case if seems you should ensure len(c) (duration of spectrogram?) * hop size = len(x) (sample number of audio?). I use my own preprocess method and the len(x)*hop size and len(x) are not exactly same, they have a slight difference. Is it possible I skip this assertion or do some other oper

[2019-09-25 08:44] r9y9 commented on #165
You should ensure that len(x)*hop size equals to len(x).

[2019-09-25 13:41] miaoYuanyuan opened #166 "Generalization ability?"
@r9y9 Thank you for your great work! but i have meet some questions,I need your help:
1.can we use the pretrained model trained on LJSpeech to inference  other data such as cmu ,vctk?
2.when training on multi people ,can we mixtured all data in one dataset without distinguish speaker id?

[2019-09-25 14:01] r9y9 commented on #166
Hi, here are my answers:

1. No. You need to finetune the model to the other data or you can consider universal vocoder-like approach. https://arxiv.org/abs/1811.06292.
2. Yes, I think it's possible. I like the approach (actually this is what universal vocoding does)

[2019-09-25 14:11] miaoYuanyuan commented on #166
Thank you for your reply!  there is another question: waveglow is also trained on LJSpeech dataset,why it can generated to other dataset?

[2019-09-25 15:36] roberthoenig opened #167 "Which version for training unconditional WaveNet?"
The README states the following:

NOTICE: This is probably not working now. Please check v0.1.2 for the working version.

Looking at the [releases](https://github.com/r9y9/wavenet_vocoder/releases), it seems that v0.1.1 is the most recent version. Does training unconditional WaveNets work with v0.1.1, or is the point of the README that it'll be supported in some future version?

[2019-09-25 15:47] r9y9 commented on #167
Oops, my bad. I meant v0.1.1. Yes, it should work with v0.1.1. It won’t be difficult to support unconditional WaveNet on master, but it’s not on my list at the moment.

[2019-09-25 15:52] roberthoenig commented on #167
Thanks for the heads up!

[2019-09-25 15:52] #167 closed

[2019-09-26 00:34] #166 closed

[2019-09-26 00:34] #165 closed

[2019-09-29 02:28] james20141606 opened #169 "how to control upsample scales"
I use the default setting of [4,4,4,4] in 20180510_mixture_lj_checkpoint_step000320000_ema.json for umsample parameters, and I got an error from
[code]
in wavenet.py
I print the c and x size out: torch.Size([2, 32, 19968]), torch.Size([2, 1, 9984])
it seems its twice the size, I tried to change the parameters to [2,2,2,2] but it did not work.
Or should I change other parameters?

[2019-09-29 02:36] james20141606 commented on #169
by the way I customized some parameters in json file as:
[code]
Could you help to see what's wrong with the setting?

[2019-09-29 02:59] james20141606 commented on #169
I think I solved it, I found that although I changed the upsample parameters to [2,4,4,4], the train.py did not receive the parameters, so I change the codes in build_model from
[code]

to
[code]
and this time the hparams.upsample_params can pass the upsample scale parameters from json file

[2019-09-29 03:24] r9y9 commented on #169
As noted in https://github.com/r9y9/wavenet_vocoder/blob/c0ac05e41f9f563421172034e9398633df172b4f/hparams.py#L75, `np.prod(upsample_scales)` must be equal to `hop_size`. This is the reason you got the assertion error.

Looks like you are using an old json file. Top-level `upsample_scales` doesn't exist anymore (It did in v0.1.1 though)

[2019-09-29 03:26] r9y9 commented on #169
Ah, I haven't updated https://github.com/r9y9/wavenet_vocoder/tree/c0ac05e41f9f563421172034e9398633df172b4f/presets, which may confuse you. I will simply delete them.

[2019-09-30 02:28] james20141606 commented on #169
I used the json file you provided in Hyper params URL in Pre-trained models. Do you mean we do not need the upsample_scales parameters anymore? Could you provide the new json file? I encounted the similar upsample problems when I tried to use trained model to synthesize audio files, it seems that the upsampled c's size(-1) in line 276 in wavenet.py does not match with T

[2019-09-30 02:34] r9y9 commented on #169
For pretrained models, please checkout the specific git commit as noted in README.

[2019-09-30 02:37] james20141606 commented on #169
Yeah I checkout to the specific version while trying synthesis. But for training a new model use my own data I think I kind of mixed the older version with specific version.
For the error, for one case, I have a c with size(-1) 1016 and after upsample it's 129536 which ratio is 127.49606299212599, it does not match the hop size 128 I provided.
The weird thing is I think I use the same parameters a

[2019-09-30 21:39] lingjzhu opened #170 "pitch shifted output"
Hi I have trained a wavenet on a Mandarin dataset and the evaluation result is really amazing! Thanks for the great work.

May I ask a question about using the wavenet?
I also trianed a Tacotron2 using the Nvidia/Tacotron2 repo. When I tried to use the pre-trained wavenet for synthesis I was only able to get a pitch shifted output, though I have converted the Tacotron2 output to log mel spectrogra

[2019-10-01 17:57] james20141606 commented on #169
hey, I'd like to ask again that although the model can be trained smoothly on the specific upsample scale, the model can't be used to synthesize the audio using same json file since the upsample network did not give input audio c exact upsample scales (for me it gives 127.xxxx instead of 128). I am not sure what may cause this problem.

[2019-10-02 03:36] lingjzhu commented on #170
OK. I solved it now. I used the same processing step to generate the log mel spectrogram and retrained the Tacotron2 model. The synthsized results are pretty amazing only using the Tacotron2 outputs. Thanks for the great work!

[2019-10-04 13:13] r9y9 commented on #170
I'm glad that you solved it by yourself.

[2019-10-04 13:14] #170 closed

[2019-10-04 13:17] r9y9 commented on #169
https://github.com/r9y9/wavenet_vocoder/blob/8cc0c2dc28b2e7e0e6cafa02995b18be9e955df9/datasets/wavallin.py#L97-L100

If you use our preprocessing script, upsampling is expected to work correctly.

I'm not really sure what you are hitting. You might want to try pdb or ipdb debugging to isolate your problem.

[2019-10-08 01:22] james20141606 opened #172 "normalization method"
I found in compute-meanvar-stats.py it uses standard scaler to do normalization. For spectrogram, I am not sure if it is right to do normalization on 2D matrix. I have observed that if we apply normalization on 2D matrix, it is  a little weird. However, if applied to 1D vector (ravel 2D matrix to 1D) it makes more sense. Do you consider this situation?

[2019-10-08 07:29] r9y9 commented on #172
Normalization for each feature dimension is pretty common in my opinion. I don't think it's weird.

[2019-10-10 01:37] james20141606 commented on #169
Hey, I tried to see what happened to upsample_net, I found that when specifying scales to [2, 4, 4, 4] (which supposed to upsample 128). But during training when I print the  `c.size(-1),x.size(-1)` in wavenet.py before and after line 196, I found that the upsample scales are not 128 (for example: torch.Size([2, 32, 82]) and  torch.Size([2, 32, 9984])), but fortunately c.size(-1),x.size(-1) matche

[2019-10-10 03:26] james20141606 commented on #169
I did some further debugging and there are still something confusing me:
at first in synthesis.py it seems batch_wavegen function's parameter has some problems when applying it in line 243.
then I found that the length mismatch may due to the cin_pad? the cin_pad made len(x)/lem(c) != hopsize. and upsample_net(c) does not produce same length with x. I am not sure how to deal with it.

[2019-10-10 10:58] #172 closed

[2019-10-14 06:21] csubaiyang opened #173 "cannot import name '__version__'"
After installing the package nnmnkwii. I tried to run the command

python preprocess.py ljspeech ~/data/LJSpeech-1.1 ./data/ljspeech \
  --preset=20180510_mixture_lj_checkpoint_step000320000_ema.json

Then I got the error:

File "/home/by512/project1/wavenet_vocoder/wavenet_vocoder/__init__.py", line 4, in <module>
    from .version import __version__
ImportError: cannot import name '__version__'

[2019-10-14 09:09] csubaiyang commented on #173
I've edited the version.py. Make the version to the __version__.
Seems like the problem is worked out.
But I don't know will this effects the following project?
I think just because I'm a fish......
No matter, carry on.

[2019-10-16 11:01] safarisadegh opened #174 "Input text"
hi,
I'm trying to implement this code in another language so i want to know where the text is given as input to the model? Also in the test section the input text was not specified.

[2019-10-28 14:44] #113 closed

[2019-10-31 12:37] r9y9 commented on #174
WaveNet vocoder is not a text-to-speech model. So there's no input text in the repository.

[2019-10-31 12:37] #174 closed

[2019-10-31 12:38] #173 closed

[2019-11-18 00:19] Fredrum opened #176 "Colab failing for me on wavegen( line!"
Hi!
I'm trying to run the Colab and think I have made it to the bottom sections.
But in the cell starting with "waveforms = []"  I'm getting an AssertionError like this:

---> 14   waveform = wavegen(model, c=c, fast=True, tqdm=tqdm)
and
--> 276                 assert c.size(-1) == T

I have printed c and it shows me a list like this:

[code]

Does anyone know what could be going wrong?

Grateful